/* stylesheet */
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

body{
    font-family:Poppins, sans-serif
}

html {
  scroll-behavior: smooth;
}

/*Navition Section */
.navbar.scrolled{
  background:#000;
}

.navbar-brand{
    color: #fff;
    font-size: 30px !important;
    margin-left: 8%;
    font-weight: 600;
}
.navbar-brand:hover{
    color: #fff;
}
.navbar-nav{
    padding-right: 10%;
}
.navbar-nav li a{
    color: #ddd;
    font-size: 12px;
    font-weight: 600;
    margin-left: 20px;
}
.navbar-nav li a:hover, .navbar-nav li a.active{
    color: #66ccff;
}
.navbar-toggler-icon{
    width: 2px !important;
    height: 22px !important;
    background-color: #fff !important;
}
.navbar-toggler{
    background-color: #202020;
    transform: rotate(90deg);
    padding: 10px;
}

/* Header Section */

.banner{
    background: url('../images/intro-bg.jpg')repeat-y fixed;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 100vh;
}
.banner .banner-text{
    padding: 25% 0 0 0;
    color: #fff;
}
.banner h3{
    letter-spacing: 0px;
    font-size: 24px;
    line-height: 36px;
    font-family: Poppins, sans-serif;
}
.banner h1{
    font-size: 40px;
    letter-spacing: 2px;
    padding: 1% 0 4% 0;
    font-family: Poppins, sans-serif;
}
.banner .learnBtn{
    padding: 15px 50px;
    text-transform: uppercase;
    background: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    border: 2px solid #fff;
    margin-right: 15px;
}
.banner .learnBtn:hover{
    background: #fff;
    color: #000;
}
.banner .registerBtn{
    background: #f2545f;
    border: 2px solid #f2545f;
    padding: 15px 50px;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    margin-right: 15px;
}
.banner .registerBtn:hover{
    border: 2px solid #fff;
    background: transparent;
}

/* overview img */

.overview{
    padding: 10% 0 10% 0;
}
.overview h3{
    padding: 15px 0 15px 0;
    line-height: 38px;
}
.overview p{
    color: #777;
    font-size: 14px;
    line-height: 25px;
    font-family: Poppins, sans-serif;
}


/* Speaker Section */

.detail{
    background-color: #222222;
    color: #fff;
    text-align: center;
    padding: 7% 0 5% 0;
}
.detail i{
    color: #F1545F;
    padding-bottom: 15px;
    font-size: 42px;
}
.detail h2{
    padding-bottom: 15px;
}
.detail p{
    color: #707070;
    font-size: 14px;
}

/* Video Sections */
.video, .speakers, .programs, .faq, .sponsors{
    padding: 8% 0 7% 0;
}
.video .video-content h2{
    padding: 25px 0 5px 0;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
}
.video .video-content h3{
    padding-bottom: 12px;
    letter-spacing: 0px;
    font-size: 25px;
    line-height: 36px;
}
.video .video-content p{
    color: #707070;
    font-size: 14px;
    line-height: 24px;
}
.video embed{
    width: 100%;
    height: 100%
}

/* Speaker Sections */

#speaker{
    padding-top:7%;
    background: #f9f9f9;
    padding-bottom: 7%;
}

#speaker .section-title{
   text-align: center;
}

.heading h2{
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
}

.heading p{
    color:#888;
}

.heading{
    padding-bottom:20px;
}

#speaker .section-title h2{
    font-size: 30px;
    text-transform: uppercase;
}

#speaker .section-title p{
    color: #707070;
    font-size: 14px;
    line-height: 24px;
    padding-bottom:40px;
}

/* Programs Section */

.programs .program-title h2{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
}
.programs .program-title p{
    color: #707070;
    font-size: 14px;
    line-height: 24px;
}
.programs .nav-tabs{
    margin: 20px 0;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #f2545f;
    background-color: #fff;
    border-color: #fff #fff #999;
    font-weight: 600;
}
.nav-tabs .nav-link{
    color: #000;
    font-weight: 600;
}
.nav-tabs .nav-link.active:hover{
    border-color: #fff #fff #999;
}
.nav-tabs .nav-link:hover {
    border-color: transparent;
}
.programs .tab-content .tab-img img{
    border-radius: 50%;
}
.programs .tab-content h6{
    font-size: 12px;
    font-weight: 600;
}
.programs .tab-content span{
    padding-right: 12px;
}
.programs .tab-content span i{
    font-weight: 600;
}
.programs .tab-content h3{
    margin-top: 16px;
    font-size: 25px;
    line-height: 34px;
}
.programs .tab-content h4{
    color: #808080;
    font-size: 12px;
    font-weight: 600;
}
.programs .tab-content p{
    color: #707070;
    font-size: 14px;
    line-height: 24px;
}
.programs .tab-content .program-divider{
    border: 1px solid #f9f9f9;
    margin-top: 32px;
    margin-bottom: 42px;
    padding: 0.5px;
}

/* Register Section */
.register{
    background-size: cover;
    background-position: 50% 50%;
    background: url('../images/register-bg.jpg') 50% 0 repeat-y fixed;
    color: #fff;
    width: 100%;
    height: auto;
    min-height: 80vh;
    padding: 10% 0 10% 0;
}
.register .register-content h2{
    font-size: 30px;
    padding: 25px 0 12px;
    font-weight: 600;
}
.register .register-content h3{
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 15px;
}
.register .register-content p{
    color: #707070;
    font-size: 14px;
    line-height: 24px;
}
.register .form-control{
    background: transparent;
    border-radius: 0;
    border: 2px solid #fff;
    padding: 20px 15px;
}
.register form button{
    float: right;
    color: #fff;
    background: #f2545f;
    width: 45%;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 100px;
    height: 50px;
    margin-top: 20px;
    letter-spacing: 2px;
    font-weight: 500;
}
.register form button:hover{
    background: #fff;
    color: #000;
}

/* Faq Section */
.faq{
    background: #F9F9F9;
}
.faq #accordion .card-header{
    background: #f0f0f0;
}
.faq #accordion .card-header:before{
    float: right !important;
    font-family: FontAwesome;
    content:"\f068";
    padding: 8px 5px 0 0;
}
.faq #accordion .card-header.collapsed:before {
    float: right !important;
    content:"\f067";
}
#accordion .card{
    margin-bottom: 10px;
}
#accordion .card-header button{
    font-size: 18px;
    font-weight: 600;
    color: #505050;
}
#accordion .card-body p{
    color: #707070;
    font-size: 14px;
    line-height: 24px;
}

/* Venue Section */
.venue{
    background: url('../images/venue-bg.jpg') 50% 0 repeat-y fixed;
    background-size: cover;
    background-position: center center;
    padding: 5rem 0 5rem 0;
}
.venue h2{
    font-size: 30px;
    font-weight: 600;
}
.venue p{
    color: #707070;
    font-size: 14px;
    line-height: 24px;
    padding: 12px 0 18px 0;
}
.venue h4{
    font-size: 18px;
    font-weight: 600;
}

/* Sponsors Section */
.sponsors img{
    margin-top: 18px;
}

.heading h2{
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
}

.heading p{
    color:#888;
}

.heading{
    padding-bottom:20px;
}

/* Contact Section */
.contact{
    background: url('../images/contact-bg.jpg') 50% 0 repeat-y fixed;
    background-size: cover;
    background-position: 50% 50%;
    padding: 10rem 0 10rem 0;
}
.contact .contact-desc h3{
    padding-bottom: 12px;
    line-height: 36px;
    color: #333333;
}
.contact .contact-desc p{
    color: #707070;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
}
.contact .contact-form{
    background: #fff;
    padding: 13% 15% 28%;
}
.contact .contact-form .contact-heading h2{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}
.contact .contact-form .contact-heading{
    margin-bottom: 32px;
}
.contact .contact-form .form-control{
    border: none;
    border-bottom: 1px solid #f0f0f0;
    border-radius: 0;
    padding: 25px 7px 18px;
}
.contact .contact-desc button{
    float: left;
    color: #fff;
    background: #f2545f;
    width: 45%;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 100px;
    height: 50px;
    margin-top: 20px;
    letter-spacing: 2px;
    font-weight: 500;
    border: none;
}
.contact .contact-desc button:hover{
    background: #232323;
}
.contact form button{
    float: left;
    color: #fff;
    background: #232323;
    width: 45%;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 100px;
    height: 50px;
    margin-top: 20px;
    letter-spacing: 2px;
    font-weight: 500;
    border: none;
}
.contact form button:hover{
    background: #f2545f;
    color: #fff;
}


/* Footer Section */
footer {
    padding: 100px 0px;
}
footer .footer-content{
    text-align: center;
}
footer .footer-content p{
    font-size: 14px;
    line-height: 24px;
    color: #707070;
    letter-spacing: 1px;
}

footer .social{
    position: relative;
    margin: 0;
    text-align: center;
}

footer .social li{
    list-style: none;
    display: inline-block;
}

footer .social li i {
    border: 2px solid transparent;
    color: #999;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 22px 4px 10px 4px;
}

footer .social li i:hover {
    border-radius: 50%;
    padding-top: -23px;
    background-color: #F25560;
    color: #ffffff;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 50px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #222;
  color: white;
  cursor: pointer;
  padding: 15px 22px;
  border-radius: 0;
}
#myBtn:hover{
    background: #f2545f;
    color: #fff;
}
@media only screen and (max-width: 1200px){
    .navbar-nav{
        padding-right: 1%;
    }
    .navbar-nav li {
        padding-right: 10px;
    }
}
@media only screen and (max-width: 992px){
    .navbar-nav li {
        padding-right: 0;
    }
    .navbar-brand{
        margin-left: 0;
    }
    .detail h2 {
        font-size: 25px;
    }
    .speakers .item{
        width: 170px;
    }
    .contact .contact-desc button{
        width: 65%;
    }
    .contact .contact-form {
        padding: 13% 15% 35%;
    }
    .contact .contact-form .contact-heading h2{
        font-size: 22px;
    }
}
@media only screen and (max-width: 767px){
    .navbar-nav{
        background: #101010;
        margin: 0 -15px;
        text-align: left;
        font-weight: 600;
        padding: 0 0 25px 35%;
    }
    li.nav-item {
        width: 50%;
    }
    .banner h1{
        font-size: 40px;
    }
    .speakers .item {
        width: 127px;
    }
    .contact .contact-desc button{
        margin-bottom: 25px;
        width: 45%;
    }
    #accordion .card-header button{
        font-size: 16px;
    }
}
@media only screen and (max-width: 576px){
    .programs .tab-content h6{
        margin-top: 20px;
    }
    #accordion .card-header button {
        font-size: 14px;
    }
    .banner h1 {
        font-size: 35px;
    }
    .speakers .speakers-content h4{
        font-size: 14px;
    }
    .speakers .speakers-content h6{
        font-size: 13px;
    }
}
@media only screen and (max-width:520px){
    .banner h3{
        font-size:14px;
    }
    .banner h1{
        font-size:18px;
    }
    .banner .learnBtn {
        padding: 12px 20px;
    }
    .banner .registerBtn {
        padding: 12px 20px;
    }
}
@media only screen and (max-width: 480px){
    .programs .nav-tabs{
        font-size: 15px;
    }
    #accordion .card-header button{
        text-align: left;
    }
    .contact .contact-desc button{
        width: 55%;
    }
    .speakers .item{
        width: 100px;
    }
}
@media only screen and (max-width: 430px){
    .speakers .item{
        width: 90px;
    }
    .speakers .speakers-content h4{
        font-size: 10px;
    }
    .speakers .speakers-content h6{
        font-size: 10px;
    }
    .banner h3{
        font-size:12px;
    }
    .banner h1{
        font-size:14px;
    }
    .banner .learnBtn {
        padding: 10px 15px;
    }
    .banner .registerBtn {
        padding: 10px 15px;
    }
}