<div id="contact" class="contact">
    <div class="container">
        <div class="contact-section">
            <div class="row">
                <div class="col-md-3 contact-side">
                    <h1>BLANDIT PULVINAR</h1>
                    <p>Duis justo eros elementum a porttitor in dignissim vitae magna phasellus vitae sapien
                        rhoncus sodales augue et dignissim
                        quam in nec sem.</p>
                    <p>Morbi in dapibus augue nulla facilisi donec posuere dolor in urna hendrerit malesuada
                        donec lectus elit feugiat.</p>
                </div>
                <div class="col-md-3 contact-side">
                    <h1>CONSEQUAT IACULIS</h1>
                    <ui class="address-list">
                        <li><i class="fas fa-map-marker"></i><span>Street Name & Number, Town,
                                Postcode/Zip</span></li>
                        <li><i class="fas fa-phone"></i><span>+00 (123) 456 7890 +00</span><span> (123) 456
                                7890</span></li>
                        <li><i class="fas fa-fax"></i><span>info@domain.com</span></li>
                        <li><i class="fas fa-envelope-open"></i><span>+00 (123) 456 7890</span></li>
                    </ui>
                </div>
                <div class="col-md-3 contact-side contact-viva">
                    <h1>VIVAMUS A DIAM</h1>
                    <p>Nunc habitant tristique</p>
                    <p>Senectus netu malesuada</p>
                    <p>Fames turpis egestas in</p>
                    <p>Cursus vulputate ultricies</p>
                    <p>Aenean lectus ultricies</p>
                </div>
                <div class="col-md-3 contact-side contact-nec">
                    <h1>NEC SEM VARIUS</h1>
                    <p>At Lacus Scelerisque <span>Friday, 6th April 2045</span></p>
                    <h6>Feugiat massa suspendisse ut finibus odio nam sit amet…</h6>
                    <p>Nullam Viverra Vel <span>Thursday, 5th April 2045</span></p>
                    <h6>Sapien eu malesuada tincidunt tristique ultricies rhoncus…</h6>
                </div>
            </div>
        </div>
    </div>
</div>