<!--footer section-->
<div id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 footer-text">
                <p>Copyright © 2016 - All Rights Reserved - Domain Name</p>
            </div>
            <div class="col-md-6 footer-text text-right">
                <p>Template by OS Templates</p>
            </div>
        </div>
    </div>
</div>