<!--navigation section-->
<nav class="navbar navbar-expand-lg custom-nav">
    <div class="container">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler custom-btn" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/index.html">HOME</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            PAGES
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/gallery.html">Gallery</a>
                            <a class="dropdown-item" href="/full-width.html">Full Width</a>
                            <a class="dropdown-item" href="/sidebar-left.html">Sidebar Left</a>
                            <a class="dropdown-item" href="/sidebar-right.html">Sidebar Right</a>
                            <a class="dropdown-item" href="/basic-grid.html">Basic Grid</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            DROPDOWN
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Level 2</a>
                            <a class="dropdown-item" href="#">Level 2 + Drop</a>
                            <a class="dropdown-item" href="#">Level 2</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">LINK TEXT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">LINK TEXT</a>
                </li>
            </ul>
        </div>
        <div class="social-icon-btn">
            <ul class="social-icon">
                <li>
                    <a href="#" class="facebook">
                        <i class="fab fa-facebook" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="pinterest">
                        <i class="fab fa-pinterest"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="twitter">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="dribble">
                        <i class="fab fa-dribbble"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="linkedin">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="google">
                        <i class="fab fa-google"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="rss">
                        <i class="fas fa-rss"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>