/* stylesheet */
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

body{
    font-family:Hind, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/*Navition Section */
.navbar.scrolled{
  background:#fff;
  border-bottom:1px solid #f0f0f0;
}

.navbar.scrolled .nav-item a{
    color: #000;
}
.logo-img-active{
    display:none;
}

.logo-img-main{
    display:inline-block;
}

.logo-img2{
    display: none;
}

.custom-nav{
    left: 0;
    top:0;
    background:transparent;
    border-bottom:1px solid rgba(255,255,255,.2);
}
.nav-item a{
    color: #fff;
    font-weight: 600;
    font-size: 14px;
}
.nav-item a:hover{
    color:#fff;
}
.navbar-nav li{
    padding-left:15px;
}
.btn-table{
    background-color: transparent;
    padding: 5px 10px 5px 10px;
}
.navbar .custom-btn{
    color: darkturquoise;
}
.navbar .custom-btn:hover{
    border-color:transparent;
}
.navbar-collapse {
    margin-left: -15px;
    margin-right: -15px;
}

/* Header Section */

.banner{
    background: url(../img/1920x1080/01.jpg) center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
}

.banner .banner-text{
    padding: 220px 0 30px;
    color: #cfcfcf;
    margin-bottom: 50px;
    border-bottom: 1px solid rgba(255,255,255,.4);
}
.banner .banner-text h1{
    font-size: 70px;
    font-family: Hind, sans-serif;
    color: #fff;
    font-weight: 700;
    line-height: 70px;
}
.banner .banner-text h5{
    color: #fff;
    font-size: 25px;
    font-weight:400;
}
.social-box{
    padding-bottom:140px;
}

.social-box .social-icon{
    list-style: none;
    padding-left:0px;
}

.social-box .social-icon li{
    display: inline-block;
    padding-left:10px;
}

.social-box .social-icon li i{
    width: 40px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    border-radius: 50%;
    padding: 11px;
    transition-duration: .3s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.7,1,.7,1)
}

.social-box .social-icon li i:hover{
    width: 40px;
    height: 40px;
    font-size: 16px;
    background-color: #fff;
    color:#999caa;
    border-radius: 50%;
    padding: 11px;
    transition-duration: .3s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.7,1,.7,1)
}

/* about sectiuon */
.about{
    padding-top:100px;
}
.header{
    text-align:right;
}

.header h1{
    font-size: 30px;
    color: #515769;
    font-weight: 700;
}

.header p{
    color: #a6a7aa;
}

.para p{
    font-size: 15px;
    font-weight: 400;
    color: #a6a7aa;
    margin-bottom: 15px;
}

.progress-box{
    margin-top:50px;
    margin-bottom:100px;
}

.progress-box .progress{
    height:3px;
}

.progress-contant{
    padding-bottom:10px;
    padding-top:10px;
}

.progress-contant .skills{
    color: #000;
    font-weight: 700;
    font-size: 14px;
}

.progress-contant .per{
    font-size:14px;
    float:right;
}

.bg-color-base {
    background: #17bed2!important;
}

/* Experience section */
.experience{
   padding-top: 100px;
   background-color: #fafafa;
   padding-bottom: 100px;
}
.experience-text h1{
    font-size: 30px;
    color: #515769;
    font-weight: 700;
}
.experience-text p {
    font-size: 15px;
    font-weight: 400;
    color: #a6a7aa;
    margin-bottom: 15px;
}
.experience-text{
    text-align:right;
}

.service-info1{
    padding-top: 15px;
}

.service-info1 h3{
    font-size: 22px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 20px;
}

.service-info{
    padding-top: 15px;
    transition-duration: .3s;
    transition-property: all;
}

.experience-icon i{
    color:#a6a7aa;
}

.service-info h3{
    font-size: 22px;
    color: #515769;
    font-weight: 700;
    margin-bottom: 20px;
}

.service-info-mdl{
   background-color: #17bed2;
   padding: 30px;
   height: 230px;
}

.service-info p{
    line-height: 1.2;
    font-size: 16px;
    font-weight: 400;
    color: #a6a7aa;
}

.bg-clr{
    color:#fff;
}

.service-box{
    padding-left: 2px !important;
    padding-right: 2px !important;
    cursor:pointer;
}

.service-box:hover .experience-icon{
     visibility: hidden;
}

.service-box:hover .service-info{
    margin-top:-20px;
}

.service-box:hover .service-info1{
    margin-top:-20px;
}

.service-info1 p{
    line-height: 1.2;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.card-service{
    background-color: #fff;
    padding: 30px;
    height:230px;
}

/* work section */
.work{
    padding-top:50px;
    padding-bottom:50px;
}
.work-text{
    text-align:right;
}

.work-text h1{
    font-size: 30px;
    color: #515769;
    font-weight: 700;
}

.work-text p{
    color: #a6a7aa;
}

.img-poper{
    display:block;
}

.img-poper .overlay{
    position: relative;
}

.full-width{
    width: 100%;
    height: auto;
    cursor: pointer;
}

.img-poper:hover{
    background: #000;
}

.img-poper .full-width:hover{
    opacity:0.5;
    background: #000;
}

.work2-img .full-width:hover{
    opacity:0.5;
    background: #000;
}

.work2-img:hover{
    background: #000;
}

.modal-header{
    border-bottom:none !important;
}

.modal-title{
    font-size: 22px;
    font-weight: 700;
    color:#515769;
    font-family:Hind, sans-serif
}

.modal-title p{
    font-size: 15px;
    color: #a6a7aa;
    font-weight:400;
}

.modal-content{
    padding: 20px;
    border-radius: 0px !important;
}

.close{
    font-size:14px !important;
}

.contant-text{
    border-right: 1px solid #cdcecf;
}

.contant-text p{
    color:#a6a7aa;
    font-weight:400;
    font-size:15px;
}

.contant-text h5{
    font-weight:400;
    font-size:12px;
    color:#777;
}

.project-text span{
    color: #a6a7aa;
}

/* contact section */
.contact{
    padding-top:80px;
    padding-bottom:100px;
    background-color:#fafafa;
}

.contact-text h1{
    font-size: 30px;
    color: #515769;
    font-family:Hind, sans-serif;
    font-weight: 600;
}
.contact-text p {
    font-size: 15px;
    font-weight: 400;
    color: #a6a7aa;
    margin-bottom: 15px;
}
.contact-loc h5{
    font-size:16px;
    color: #515769;
}
.contact-text{
    text-align:right;
 }
.contact-loc a{
    color:#888;
    font-size: 14px;
}
.contact-loc a:hover{
    color:#888;
    text-decoration: none;
}

/* footer section */
.footer{
    background-color: #fff;
    padding-top:30px;
    padding-bottom:30px;
}
.footer-style p{
    color:#888;
}
.footer-text p{
    color:#888;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 50px;
    z-index: 99;
    font-size: 12px;
    border: none;
    outline: none;
    background-color: #b0adad;
    color: white;
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 5px;
}
#myBtn:hover{
    background-color: #222;
    color: #fff;
}


/* Media Query */

@media only screen and (max-width: 992px){
.navbar-nav{
    background-color:#fff;
    padding-top:10px;
}
.nav-item a{
    color: #000;
}
.navbar{
    background-color:#fff;
}
.logo-img1{
    display: none !important;
}
.logo-img2{
    display:inline !important;
}
.card-service{
    padding:20px;
}
.service-info-mdl{
    padding:20px;
}
}

@media only screen and (max-width: 767px){
    .header{
        text-align:left;
    }
    .experience-text{
        text-align:left;
    }
    .work-text{
        text-align:left;
    }
    .contact-text{
        text-align:left;
    }
    .contact-loc{
        padding-top:20px;
    }
}