/* stylesheet */
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

body{
    font-family:Poppins, sans-serif
}

html {
  scroll-behavior: smooth;
}

/*Navition Section */
.navbar.scrolled{
  background:#222222;
}

.navbar-brand{
    color: #eeeeee;
    font-size: 22px !important;
    margin-left: 6%;
    font-weight: 700;
}

.navbar-brand:hover{
    color: #eeeeee;
}

.navbar-nav{
    padding-right: 10%;
}
.navbar-nav li{
    padding-right: 15px;
}
.navbar-nav li a{
    color: #ddd;
    font-size: 12px;
    font-weight: 600;
}
.navbar-nav li a:hover, .navbar-nav li a.active{
    color: #71bd46;
}
.navbar-toggler-icon{
    width: 2px !important;
    height: 22px !important;
    background-color: #bbbbbb !important;
}
.navbar-toggler{
    background-color: #202020;
    transform: rotate(90deg);
    padding: 10px;
}

/* Header Section */

.banner{
    background: url('../images/header-bg.jpg')repeat-y fixed;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;
    position: relative;
}
.banner .banner-text{
    padding: 25% 0 15% 0;
    color: #cfcfcf;
}
.banner .banner-text h1{
    font-size: 60px;
    color: #eeeeee;
    font-weight: 600;
}
.banner .banner-text h1 span{
    color: #71bd46;
    font-weight: 700;
}
.banner .banner-text p{
    color: rgba(255,255,255,0.5);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 60px;
    padding: 0 4px;
}
.banner .learnBtn{
    padding: 10px 15px;
    text-transform: uppercase;
    background: transparent;
    color: #71bd46;
    border-radius: 5px;
    border: 1px solid #71bd46;
    margin-right: 15px;
}
.banner .learnBtn:hover{
    background: #71bd46;
    color: #ffffff;
}

/* About section*/

#about{
    padding:7% 0 7% 0;
    background-color: #f6f6f6;
}

.about_us h1{
    line-height: 20px;
    margin: 0;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #666;
}

.about_us hr{
    width:60px;
    height:1px;
    margin-bottom: 50px;
    float: left;
    background-color: #71bd46;
}

.about-details h1{
    color: #666;
    font-size: 20px;
}

.about-details hr{
  width:100px;
  float: left;
  background-color: #71bd46;
}

.about-details p{
  font-size:14px;
  padding-top:40px;
  line-height: 22px;
  color: #666;
}


/* service section */

#services{
    padding:7% 0 7% 0;
}

.our_service{
    padding-bottom:20px;
}

.our_service h1{
    line-height: 20px;
    margin: 0;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #666;
}

.our_service hr{
    width:60px;
    height:1px;
    margin-bottom: 50px;
    float: left;
    background-color: #71bd46;
}

#services .service-details h3{
    color: #666;
    font-size: 20px;
    font-weight: 400;
    border-bottom: 1px solid #b8dea2;
    padding-bottom: 20px;
    display: inline-block;
}

#services .service-details p{
    font-size: 14px;
    line-height: 22px;
    color: #666;
}

.service-details .fa{
   color:#71bd46;
   display: block;
   padding-bottom:20px;
}

.space{
    margin-top:40px;
}

/* Portfolio Section */

.portfolio .categories ul, .portfolio .categories ol{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}
.portfolio .categories ul li{
    display: inline-block;
}
.portfolio .categories ol li a {
    padding-right: 20px;
    color: #888;
    cursor: pointer;
}
.portfolio .categories ol li a:hover,.portfolio .categories ol li a.active{
    color: #71bd46;
    border-bottom: 1px solid #b8dea2;
    padding-bottom: 8px;
}
.portfolio-item{
    position:relative;
    overflow:hidden;
    margin-bottom:20px;
    height: 200px;
}
.overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 95px;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.66);
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.hover-text h4 {
    opacity: 1;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    transition: all 0.3s;
    margin: 60px 0 35px 0;
    font-size: 20px;
    font-weight: 600;
}
.portfolio-item:hover img {
    opacity: 0.6;
    background-color: #000;
    cursor: pointer;
}

.portfolio-item:hover .overlay {
  opacity: 1;
}

/* team section*/

#team{
    padding:7% 0 7% 0;
}

.our_team h1{
    line-height: 20px;
    margin: 0;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #666;
}

.our_team hr{
    width:60px;
    height:1px;
    margin-bottom: 50px;
    float: left;
    background-color: #71bd46;
}

.team-img{
    max-width:100%;
    width: 160px;
    height: 160px;
}

.team-details h3{
    border-top: 1px solid #b8dea2;
    padding-top: 20px;
    margin-top: 20px;
    display: inline-block;
}

.team-details p{
    color:#888888;
}
/* contact section */
#contact{
    padding:7% 0 7% 0;
    background-color: #f6f6f6;
}
.our_contact h1{
    line-height: 20px;
    margin: 0;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #666;
}
.our_contact hr{
    width:60px;
    height:1px;
    margin-bottom: 50px;
    float: left;
    background-color: #71bd46;
}

.contact_info h3{
    font-size: 20px;
    color: #666;
    padding-bottom: 20px;
    font-weight: 400;
}

.addres{
    padding-bottom:20px;
}

.addres p{
    color:#888888;
}

.addres p .fa{
    color:#71bd46;
    margin-right: 10px;
}

.contact_form h3{
    font-size: 20px;
    color: #666;
    padding-bottom: 20px;
    font-weight: 400;
}

#contact form{
  padding: 5% 0 5% 0;
}
#contact form .form-control{
  border-radius: 0;
}
#contact form .btn {
    margin-top: 5%;
    color: #71bd46;
    width: 22%;
    border: 1px solid #71bd46;
    padding: 10px;
    background-color: transparent;
}
#contact form .btn:hover {
    color: #ffffff;
    background-color: #71bd46;
}

/* social section */

#social{
    padding:10px 0 10px 0;
}

.social-login ul{
    display: inline-flex;
    list-style: none;
}

.social-login ul li{
    margin:20px;
} 

.social-login ul li .fab{
    color: #71bd46;
    font-size: 24px;
} 

.social-login ul li .fab:hover{
    color:#444;
} 
/* footer section */

#footer{
    padding:30px 0 10px 0;
    background-color: #222222;
}

.footer-section{
    font-size:14px;
    font-weight: 500;
    color:#777;
}

.footer-section p a{
    font-size: 14px;
    font-weight: 400;
    color: #bfbfbf;
}

.footer-section p a:hover{
    color:#71bd46;
    text-decoration: none;
}

@media only screen and (max-width: 1200px){
    .navbar-nav{
        padding-right: 1%;
    }
    .navbar-nav li {
        padding-right: 10px;
    }
}
@media only screen and (max-width: 992px){
    .navbar-nav li {
        padding-right: 0;
    }
    .navbar-brand{
        margin-left: 0;
    }
    .speakers .item{
        width: 170px;
    }
}
@media only screen and (max-width: 767px){
    .navbar-nav{
        background: #101010;
        margin: 0 -15px;
        text-align: center;
        font-weight: 600;
        padding: 0 0 25px 35%;
    }
    li.nav-item {
        border-bottom: 1px solid #66ccff;
        width: 50%;
        padding-top: 5px;
    }
    .banner h1{
        font-size: 40px;
    }
}

@media only screen and (max-width: 575px){
    .team-details h3{
        display: table;
    }
}


@media only screen and (max-width: 510px){
.banner .banner-text h1 {
    font-size: 40px;
}
.banner .banner-text p {
    font-size: 14px;
    margin-bottom: 40px;
}
.banner .learnBtn {
    color: #71bd46;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid #71bd46;
}

#contact form .btn{
    width: unset;
}
}

@media only screen and (max-width: 421px){
    .social-login ul li {
        margin: 15px;
    }
}

@media only screen and (max-width: 409px){
    .social-login ul li {
        margin: 10px;
    }
}

@media only screen and (max-width: 409px){
    .banner .banner-text h1{
        font-size: 25px;
    }
    .banner .learnBtn {
        font-size: 12px;
    }
    .social-login ul li {
        margin: 5px;
    }
}




