<!--contact section-->
<div id="contact">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-md-8 text-center contact-header">
                <h1>We Love To Talk About Your Business</h1>
                <p><a href="#" class="btn btn-default"> CONTACT US</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="cube">
                    <h6>Cube</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna
                        sagittis, rhoncus euismod. </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-6">
                        <ul class="list-menu">
                            <li><a href="#">HOME</a></li>
                            <li><a href="#">FEATURES</a></li>
                            <li><a href="#">PRODUCTS</a></li>
                            <li><a href="#">TESTIMONIAL</a></li>
                            <li><a href="#">CONTACT</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-6 col-6">
                        <div class="contact-detail">
                            <a href="tel://1234567890">+1 234 4565 2342</a>
                            <br>
                            <a href="#">info@domain.com</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <form class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" for="exampleInputEmail3">Email address</label>
                        <input type="email" class="form-control" id="" placeholder="Email" required>
                    </div>
                    <button type="submit" class="btn btn-primary">SEND</button>
                </form>
            </div>
        </div>
    </div>
</div>