<!-- footer section -->
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 text-left copyright">
                <p><small>© 2016 Free HTML5. All Rights Reserved.</small></p>
            </div>
            <div class="col-md-6 col-sm-12 text-right copyright">
                <p><small>Designed by <a href="http://gettemplates.co/" target="_blank">GetTemplates.co</a> Demo
                        Images: <a href="http://pixeden.com/" target="_blank">Pixeden</a> &amp; <a
                            href="http://unsplash.com" target="_blank">Unsplash</a></small> </p>
            </div>
        </div>
    </div>
</div>