<nav class="navbar navbar-default navbar-expand-md">
    <a class="navbar-brand" href="index.html"><img src="images/logo.png"
            alt="Free HTML5 Website Template by GetTemplates.co"></a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-start" id="navbarCollapse">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="index.html">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about.html">ABOUT</a>
            </li>
            <li class="dropdown">
                <button class="dropbtn"><a href="service.html">SERVICES</a>
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content animated-fast">
                    <a href="#">Web Design</a>
                    <a href="#">eCommerce</a>
                    <a href="#">Branding</a>
                    <a href="#">API</a>
                </div>
            </li>
            <li class="dropdown">
                <button class="dropbtn">DROPDOWN
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content animated-fast">
                    <a href="#">HTML5</a>
                    <a href="#">CSS3</a>
                    <a href="#">Sass</a>
                    <a href="#">jQuery</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="portfolio.html">PORTFOLIO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact.html">CONTACT</a>
            </li>
        </ul>
    </div>
</nav>