<!--people section-->
<div id="people">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-md-8 people text-center people-header">
                <h1>People Love Us</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna
                    sagittis, rhoncus euismod erat
                    tincidunt. Donec tincidunt volutpat erat. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 wow fadeInUp">
                <div class="testimonial">
                    <div class="img-user">
                        <img src="images/person_1.jpg" alt="Free Website template by GetTemplates.co">
                    </div>
                    <blockquote>
                        <p>"Design must be functional and functionality must be translated into visual
                            aesthetics, without any reliance on gimmicks
                            that have to be explained."
                            <cite class="author">— Ferdinand A. Porsche</cite>
                        </p>
                    </blockquote>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 wow fadeInUp">
                <div class="testimonial">
                    <div class="img-user">
                        <img src="images/person_2.jpg" alt="Free Website template by GetTemplates.co">
                    </div>
                    <blockquote>
                        <p>“Creativity is just connecting things. When you ask creative people how they did
                            something, they feel a little guilty
                            because they didn’t really do it, they just saw something. It seemed obvious to
                            them after a while.”
                            <cite class="author">— Frank Chimero</cite>
                        </p>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 wow fadeInUp">
                <div class="testimonial">
                    <div class="img-user">
                        <img src="images/person_3.jpg" alt="Free Website template by GetTemplates.co">
                    </div>
                    <blockquote>
                        <p>"I think design would be better if designers were much more skeptical about its
                            applications. If you believe in the
                            potency of your craft, where you choose to dole it out is not something to take
                            lightly."
                            <cite class="author">— Steve Jobs</cite>
                        </p>
                    </blockquote>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 wow fadeInUp">
                <div class="testimonial">
                    <div class="img-user">
                        <img src="images/person_1.jpg" alt="Free Website template by GetTemplates.co">
                    </div>
                    <blockquote>
                        <p>"Design must be functional and functionality must be translated into visual
                            aesthetics, without any reliance on gimmicks
                            that have to be explained."
                            <cite class="author">— Ferdinand A. Porsche</cite>
                        </p>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>