<!--product section-->
<section id="product-section" class="gtco-products">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-md-8 text-center popular-product">
                <h1>Popular Products</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna
                    sagittis, rhoncus euismod erat
                    tincidunt. Donec tincidunt volutpat erat. </p>
            </div>
        </div>
        <div class="row row-pb-md">
            <div class="col-md-4 col-sm-4">
                <a href="#" class="gtco-item two-row bg-img animate-box wow fadeInUp animated-fast"
                    style="background-image: url(images/img_1.jpg)">
                    <div class="overlay">
                        <i class="fas fa-external-link-square-alt"></i>
                        <div class="copy">
                            <h3>Paper Hot Cup</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                    <img src="images/img_1.jpg" class="hidden" alt="Free HTML5 Website Template by GetTemplates.co">
                </a>
                <a href="#" class="gtco-item two-row bg-img animate-box wow fadeInUp animated-fast"
                    style="background-image: url(images/img_2.jpg)">
                    <div class="overlay">
                        <i class="fas fa-external-link-square-alt"></i>
                        <div class="copy">
                            <h3>Notepad Mockup</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                    <img src="images/img_2.jpg" class="hidden" alt="Free HTML5 Website Template by GetTemplates.co">
                </a>
            </div>
            <div class="col-md-4 col-sm-4">
                <a href="#" class="gtco-item one-row bg-img animate-box wow fadeInUp animated-fast"
                    style="background-image: url(images/img_md_1.jpg)">
                    <div class="overlay">
                        <i class="fas fa-external-link-square-alt"></i>
                        <div class="copy">
                            <h3>Paper Pouch</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                    <img src="images/img_md_1.jpg" class="hidden" alt="Free HTML5 Website Template by GetTemplates.co">
                </a>
            </div>
            <div class="col-md-4 col-sm-4">
                <a href="#" class="gtco-item two-row bg-img animate-box wow fadeInUp animated-fast"
                    style="background-image: url(images/img_3.jpg)">
                    <div class="overlay">
                        <i class="fas fa-external-link-square-alt"></i>
                        <div class="copy">
                            <h3>Fancy 3D</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                    <img src="images/img_3.jpg" class="hidden" alt="Free HTML5 Website Template by GetTemplates.co">
                </a>
                <a href="#" class="gtco-item two-row bg-img animate-box wow fadeInUp animated-fast"
                    style="background-image: url(images/img_4.jpg)">
                    <div class="overlay">
                        <i class="fas fa-external-link-square-alt"></i>
                        <div class="copy">
                            <h3>Hard Cover Book</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                    <img src="images/img_4.jpg" class="hidden" alt="Free HTML5 Website Template by GetTemplates.co">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="offset-md-2 col-md-8 text-center video-heading">
                <p><a data-toggle="modal" data-src="https://player.vimeo.com/video/58385453?badge=0"
                        data-target="#myModal" class="btn btn-special">Visit
                        Gettemplates.co</a>

                </p>
            </div>
            <!-- Modal section -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">

                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item"
                                    src="https://player.vimeo.com/video/58385453?badge=0" id="video"
                                    allowscriptaccess="always" allow="autoplay"></iframe>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>