<!-- video section-->
<div id="video">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-md-8 text-center video-heading">
                <h1>Make your life simpler.</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna
                    sagittis, rhoncus euismod erat
                    tincidunt. Donec tincidunt volutpat erat.</p>
                <p><a class="btn btn-special" data-toggle="modal"
                        data-src="https://player.vimeo.com/video/58385453?badge=0" data-target="#myModal">Watch
                        The Video</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card-design">
                    <div class="card-head">
                        <h6><i class="fas fa-chart-pie"></i>
                            Marketing</h6>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur voluptatibus
                        nesciunt, est alias deleniti ipsum
                        fuga ullam maxime repudiandae neque, ad. Maiores quis atque, culpa rem inventore vero
                        amet praesentium, quam sint,
                        magnam reprehenderit doloremque.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-design changed wow bounceInDown">
                    <div class="card-head">
                        <h6><i class="fas fa-pencil-ruler"></i>
                            Design</h6>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima quidem quae, assumenda
                        dolores ad pariatur! Deleniti
                        debitis, voluptatem! Omnis enim magnam perspiciatis, natus. Ipsum distinctio,
                        voluptatibus vero laboriosam sequi!
                        Officia fuga quam eveniet quo similique!
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-design">
                    <div class="card-head">
                        <h6><i class="fas fa-cog"></i>
                            Development</h6>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta aperiam, maiores officia
                        alias accusantium fugiat,
                        doloremque voluptas, voluptatem dolore vel animi praesentium saepe unde consequuntur,
                        eum asperiores odit aliquam error
                        nulla impedit repellendus. Nesciunt, delectus.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal section -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/58385453?badge=0"
                            id="video" allowscriptaccess="always" allow="autoplay"></iframe>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>