/* galary section */
.gallery{
    padding-top:20px;
    padding-bottom:20px;
}

.gallery .gallery-title h1{
    font-size: 22px;
    padding: 20px;
    padding-top:50px;
    font-family:Georgia;
    font-weight:300;
}

.img-galary{
    padding: 20px 0 10px 0;
}