/* stylesheet */
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

body{
    font-family:Hind, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/*Navition Section */
.navbar.scrolled{
  background:#fff;
  border-bottom:1px solid #f0f0f0;
}

.navbar{
    color: #FFFFFF !important;
    background-color: #44494C !important;
}

.navbar.scrolled .nav-item a{
    color: #000;
}

.logo-img-active{
    display:none;
}

.logo-img-main{
    display:inline-block;
}

.logo-img2{
    display: none;
}

.custom-nav{
    left: 0;
    top:0;
    background:transparent;
    border-bottom:1px solid rgba(255,255,255,.2);
}
.nav-item a{
    color: #fff;
    font-weight: 600;
    font-size: 14px;
}
.nav-item a:hover{
    color:#fff;
}
.btn-primary{
    color: #fff !important;
    background-color: transparent !important;
    border-color: transparent !important;
}
.btn-table{
    background-color: transparent;
    padding: 5px 10px 5px 10px;
}
.dropdown-toggle::before {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
.dropdown-toggle::after{
    display: none !important;
}
.navbar .custom-btn{
    color: darkturquoise;
}
.navbar .custom-btn:hover{
    border-color:transparent;
}
.navbar-collapse {
    margin-left: -15px;
    margin-right: -15px;
}
.navbar-nav{
    padding-left: 50px;
}
.social-icon{
    list-style: none;
    padding-top: 10px;
    padding-right: 50px;
}
.social-icon li{
    display:inline-block;
    padding-right: 10px;
}
.social-icon li i{
    color:#fff;
}
.social-icon .facebook i:hover{
    color:rgb(59, 89, 152);
}
.social-icon .pinterest i:hover{
    color:#C8232C;
}
.social-icon .twitter i:hover{
    color:rgb(0, 172, 238);
}
.social-icon .dribble i:hover{
    color:rgb(234, 76, 137);
}
.social-icon .linkedin i:hover{
    color:rgb(14, 118, 168);
}
.social-icon .google i:hover{
    color:rgb(219, 74, 57);
}
.social-icon .rss i:hover{
    color:rgb(238, 128, 47);
}
.dropdown-menu{
    background-color:#00000070 !important;
    border: 1px solid rgba(0,0,0,.15) !important;
}
.dropdown-item:hover{
    background-color:#C8232C !important;
}
.dropdown-item{
    height: 40px !important;
    padding-top: 10px !important;
    border: 1px solid rgba(0,0,0,.15) !important;
}

/* heading section */

.heading{
    padding-top: 15px;
    padding-bottom: 15px;
}

.devenna-text h1{
    font-size: 26px;
    font-family: Georgia;
    padding-top: 15px;
    text-transform: uppercase;
}

.devenna-text h1 span{
    font-size:20px;
}

.address1 h5{
    font-family: Verdana;
    font-weight: 600;
    font-size: 14px;
}

.address1 p{
    font-size:13px;
    line-height: 0px;
}

.address1{
    padding-top:15px;
}


/* header section */
.header{
    padding-top:100px;
    padding-bottom:100px;
    background-image:url('../images/demo/backgrounds/01.png');
}

.header:after{
    opacity:0.5;
    background-color:#000;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-section{
    padding-top:50px;
    padding-bottom:50px;
}

.header-section h1{
    font-family:Georgia;
    color:#fff;
}

.header-section p{
    color: #fff;
    font-size: 28px;
}

.btn-section .btn-aliquet{
    color: #fff !important;
    background-color: #E84C3D;
    padding: 15px 25px 15px 25px;
    border-radius: 0px;
    border-color: #E84C3D;
    text-transform: uppercase;
}

.btn-section .btn-tempor{
    background-color:#FFFFFF;
    padding: 10px 20px 10px 20px;
    padding: 15px 25px 15px 25px;
    border-radius: 0px;
    text-transform: uppercase;
}

/* details  section */

.details{
    padding-top:50px;
    padding-bottom:50px;
}

.details-section{
    padding-bottom:30px;
}

.details-section p {
    font-family:Verdana;
    font-size:15px;
}

.details-section h1{
    font-family: Georgia;
    font-family:17px;
}

.detials-1{
    padding:20px;
}

.detials-1 h3{
    color: #E84C3D;
    font-size: 18px;
    font-family: Georgia;
}

.text-sagittis{
    color:#E84C3D;
}

.icon i{
    display: inline-block;
    position: relative;
    margin-bottom: 50px;
    width: 100px;
    height: 100px;
    line-height: 98px;
    border: 1px solid;
    border-radius: 50%;
    background-clip: padding-box;
    text-align: center;
    font-size: 36px;
    transition: all .3s ease-in-out;
}

.icon i:hover{
    background-color:#000;
    color:#fff;
}


/* product section */
.product-section{
    background-image: url(../images/demo/backgrounds/02.png);
}

.product1-section{
    margin-left:-15px;
}

.product-text{
    background-color:#f0f0f0;
    padding-top:100px;
    padding-bottom:100px;
}

.product-details{
    padding-bottom:30px;
}

.product-details h1{
    font-family:Georgia;
}

.product-details .eget-text{
    color:#E84C3D;
}

.nospace-group{
    list-style: none;
}

.nospace-group li{
    margin: 0 10px 10px 0;
    display:inline-block;
}

.product-img{
    width: 75%;
    margin: 0 auto;
}

/* portfollio section */
.portfollio{
    padding-top:50px;
    padding-bottom:50px;
    background-image:url('../images/demo/backgrounds/03.png');
}

.portfollio-header{
    padding-top:20px;
    padding-bottom:30px;
}

.portfollio-header h1{
    color:#fff;
    font-family:Georgia;
}

.portfollio-header .venenatis{
    color:#E84C3D;
}

.portfollio-header p{
    color: #fff;
}

.personal-detail{
    padding: 23px;
}

.personal-heading{
    padding-bottom:40px;
}

.personal-img{
    float: left;
}

.personal-detail p, strong{
    color:#fff;
}

.personal-detail p{
    line-height: 20px;
}


/* event section */
.event{
    padding-top:40px;
    padding-bottom:40px;
}

.event-header h1{
    font-family:Georgia;
}

.Hendrerit-header h1{
    font-family:Georgia;
    padding-bottom:25px;
}

.event-header{
    padding-bottom: 25px;
}

.Hendrerit-header p{
    font-size:14px;
    font-family:verdana;
}

.event-data h5{
    color: #E84C3D;
    font-family: Georgia;
    font-size: 22px;
    padding-bottom: 10px;
}

.event-data h5 p{
    font-size: 12px;
    color: #000;
    font-family: verdana;
}

/* contact section*/
.contact{
    color: #B0B0B0;
    background-color: #44494C;
    padding-top:20px;
    padding-bottom:20px;
}

.contact-section{
    padding-top:40px;
}

.contact-section h1{
    color:#fff;
    font-size:18px;
    font-family: Georgia;
}

.contact-section h1{
    padding-bottom:30px;
}

 .contact-section .contact-side{
     padding: 38px;
}

.address-list{
    list-style:none;
}

.address-list li{
    padding-bottom: 30px;
}

.contact-viva p{
    color:rgb(232, 76, 61);
    padding-bottom: 12px;
}

.contact-nec p{
    color: rgb(232, 76, 61);
    font-family: Georgia;
    padding: 0px;
    margin: 6px 0px 6px 0px;
}

.contact-nec p span{
    font-size: 12px;
    font-family:verdana;
    display: table;
    color: #B0B0B0;
}

.contact-nec h6{
    font-size: 16px;
    padding-bottom: 15px;
}

.address-list li span{
    padding-left:15px;
}

/* footer section */
.footer{
    background-color: #333335;
    padding-top: 15px;
}

.footer-text p{
    color: #B0B0B0;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 50px;
    z-index: 99;
    font-size: 12px;
    border: none;
    outline: none;
    background-color: #b0adad;
    color: white;
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 5px;
}
#myBtn:hover{
    background-color: #222;
    color: #fff;
}


/* Media Query */

@media only screen and (max-width: 992px){
}

