/* about stylesheet */

#about-header{
    background: linear-gradient(to right, #3dcdbc 0%, #33a1bd 100%);
}

.about-design{
    height: 450px;
    display: table;
    width: 100%;
}

.aboutus{
    padding-top:150px;
}

.aboutus h3{
    font-size: 60px;
    color: #fff;
    font-family:Raleway, Arial, sans-serif;
    font-weight: 100;
    line-height: 1.5;
}

.aboutus p{
    color:#d3f1ed;
    font-size:20px;
    font-weight: 400;
    line-height: 1.5;
}

/* team section */

#team{
    padding-top:5%;
    padding-bottom:5%;
}

.team-section{
    padding-bottom:50px;
}

.team-section h1{
    font-size: 45px;
    font-weight: 100;
}

.team-section p{
    font-size: 18px;
    color: #989090;
    font-weight: 400;
    line-height: 1.7;
}

.social-ico{
    display: inline-flex;
    list-style: none;
    padding-left: 0px;
}
.item{
    margin-left: 20px;
    margin-right: 20px;
}

.img-item h2{
    font-size: 22px;
    font-weight: 400;
    margin-top: 15px;
}

.img-item .role{
    color: #bfbfbf;
    margin-bottom: 20px;
    font-weight: normal;
    display: block;
}

.img-item p{
    color:#888;
}

.social-ico li .fab{
    font-size: 20px;
    color: #17b794;
}

.social-ico li{
    padding-right: 10px;
}

.social-ico li .fab:hover{
    color:#000;
}

