/* contact stylesheet*/

#contact-header{
    background: linear-gradient(to right, #3dcdbc 0%, #33a1bd 100%);
}

.contact-design{
    height: 450px;
    display: table;
    width: 100%;
}

.contact{
    padding-top:150px;
}

.contact h1{
    font-size: 60px;
    color: #fff;
    font-family: Raleway, Arial, sans-serif;
    font-weight: 100;
    line-height: 1.5;
}

.contact p{
    color:#d3f1ed;
    font-size:20px;
    font-weight: 400;
    line-height: 1.5;
}

/* get-touch section */

#get-touch{
    padding-top:100px;
    padding-bottom:100px;
}

.get-in{
    padding-bottom:50px;
}

.get-in h1{
    font-size:45px;
    font-weight:300;
    margin-bottom:10px;
}

.get-in p{
    font-size:20px;
    font-weight:400;
    color:#888;
    margin-bottom:20px;
}

/* contact form */

form label {
    font-weight: normal !important;
}

.form-control {
    box-shadow: none;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.1);
    height: 54px;
    font-size: 18px;
    font-weight: 300;
}

.form-group .btn-special {
    background: #00ffa3;
    color: #239c71;
    border: 2px solid #00ffa3;
}

.form-group .btn {
    margin-right: 4px;
    margin-bottom: 4px;
    font-family: "Raleway", Arial, sans-serif;
    font-size: 13px;
    font-weight: 700 !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    letter-spacing: 2px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding: 20px 30px;
    text-transform: uppercase;
    text-shadow: none !important;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
}

.form-group .btn-special:active {
    color: #239c71;
    background: #00ffa3;
    border-color: #00ffa3;
}

/* address*/

.address h1{
    font-size: 25px;
    font-weight: 400;
    margin-bottom:20px;
}

.address p{
color:#888;
margin-bottom:20px;
}

.address-list{
    list-style:none;
}

.address-list li{
    color:#888;
    margin-bottom:20px;
}

.address-list li a {
    color: #17B794;
}

.address-list li a:hover{
    color: #17B794;
    text-decoration: none;
}

.address-list  li .fa{
    color: #cfcfcf;
    margin-left: -30px;
    margin-right: 20px;
    font-size: 20px;
}