/* portfolio stylesheet*/

#portfolio-header{
    background: linear-gradient(to right, #3dcdbc 0%, #33a1bd 100%);
}

.portfolio-design{
    height: 450px;
    display: table;
    width: 100%;
}

.portfolio{
    padding-top:150px;
}

.portfolio h3{
    font-size: 60px;
    color: #fff;
    font-family: Raleway, Arial, sans-serif;
    font-weight: 100;
    line-height: 1.5;
}

.portfolio p{
    color:#d3f1ed;
    font-size:20px;
    font-weight: 400;
    line-height: 1.5;
}

/* poster */

.poster a{
    color: #17B794;
    outline: none;
    text-decoration: none;
}

.poster h2{
    margin-top: 25px;
    font-size: 28px;
    font-weight: 100;
}

.poster p{
    color: #bfbfbf;
}

/* checkword */

#checkword{
    padding-top:5%;
    padding-bottom:5%;
}

.check-header{
    padding-bottom: 50px;
}

.item{
    margin-left: 20px;
    margin-right: 20px;
}

.check-header h1{
    font-weight: 100;
}

.check-header p{
    color:#888;
    font-size: 18px;
}
