/* service stylesheet */

#service-header{
    background: linear-gradient(to right, #3dcdbc 0%, #33a1bd 100%);
}

.service-design{
    height: 450px;
    display: table;
    width: 100%;
}

.service{
    padding-top:150px;
}

.service h3{
    font-size: 60px;
    color: #fff;
    font-weight: 100;
    font-family:Raleway, Arial, sans-serif;
    line-height: 1.5;
}

.service p{
    color:#d3f1ed;
    font-size:20px;
    font-weight: 400;
    line-height: 1.5;
}

/* video-section */

#video-section{
    padding-top:50px;
}
