/* stylesheet */
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

html {
  scroll-behavior: smooth;
}

/*Navition Section */
.navbar-brand{
    padding: 180px;
    color: #000;
    font-size: 30px !important;
    font-weight: 600;
}
.navbar-brand:hover{
    color:#000;
}
.navbar-nav{
    margin-left:320px;
}
.navbar-nav li a{
    color: #3ac1bc;
    text-transform: uppercase;
    font-size: 14px;
}
.navbar-nav .nav-item{
    padding-top: 7px;
}

.navbar-nav li a button{
    color: #27E1CE;
    border: 2px solid #27E1CE;
    border-radius: 20px;
    background: transparent;
    padding: 4px 30px;
    text-transform: uppercase;
    cursor: pointer;
}
.navbar-nav li a button:hover{
    background: #27E1CE;
    color: #fff;
}
.navbar-nav li{
    padding-right: 12px;
}
.navbar-toggler-icon{
    width: 2px !important;
    height: 22px !important;
    background-color: #000 !important;
}
.navbar-toggler{
    background-color: #202020;
    transform: rotate(90deg);
    padding: 10px;
}

.navbar-expand-md .navbar-nav .nav-link:hover{
    color:#888 !important;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 14px;
  border: none;
  outline: none;
  color: #3ac1bc;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown .dropbtn:hover{
    color:#888;
}

.dropdown .dropbtn a:hover{
    text-decoration: none;
    color:#888;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  padding: 12px 16px;
  display: block;
  text-align: left;
  color: #888 !important;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px !important;
  line-height: 0.5;
}

.dropdown-content a:hover {
  color: #000 !important;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* header section */

#header{
    background: linear-gradient(to right, #3dcdbc 0%, #33a1bd 100%);
}

.header-design{
    height: 900px;
    display: table;
    width: 100%;
}

.img-cube{
    padding-top:20%;
}

.header-text{
    padding-top:20%;
}

.header-text h1{
    color: #fff;
    font-size: 59px;
    font-family: Raleway, Arial, sans-serif;
    font-weight: 100;
}

.header-text p{
    font-size: 20px;
    color: #d3f1ed;
    font-weight: 400;
    padding-top: 20px;
}

#header .btn {
    color: #34a7bd !important;
    text-shadow: none !important;
    border-radius: 0px;
}

.btn-white {
    background: #fff !important;
    padding:10px !important;
    border: 2px solid #fff !important;
    transition: 0.5s !important;
    padding: 20px 30px !important;
    text-transform: uppercase !important;
}

/* sponsor section  */

#sponsor{
    padding-top:3%;
    background-color:#e6e6e6;
    padding-bottom:3%;
}

.img-sponsor img{
    width: 100%;
}


/* video section */
#video{
    padding-top:5%;
    padding-bottom:5%;
}

.video-heading{
    padding-bottom:40px;
}

.video-heading h1{
    font-size: 40px;
    margin-bottom: 10px;
    line-height: 1.5;
    font-family: unset;
    color: #4d4d4d;
    font-weight: 300;
}

.video-heading p{
    font-size: 18px;
    line-height: 1.7;
    color: #898989;
    font-family:Raleway, Arial, sans-serif;
}

.video-heading .btn {
    margin-right: 4px;
    margin-bottom: 4px;
    font-family: "Raleway", Arial, sans-serif;
    font-size: 13px;
    font-weight: 700 !important;
    border-radius: 0px;
    letter-spacing: 2px;
    transition: 0.5s;
    padding: 20px 30px;
    text-transform: uppercase;
    text-shadow: none !important;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
}

.video-heading .btn-special{
    background: #00ffa3;
    color: #239c71;
    border: 2px solid #00ffa3;
}

.card-design{
    margin-left: 10px;
    margin-right: 10px;
    padding: 2em;
    margin-bottom: 30px;
    position: relative;
    background: #fff;
    -webkit-box-shadow: 0px 22px 68px -9px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 22px 68px -9px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 22px 68px -9px rgba(0, 0, 0, 0.15);
    bottom: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.card-design .card-head .fas{
    color: #17B794;
    font-size: 22px !important;
}

.card-design .card-head h6{
    font-size: 18px;
}

.card-design p{
    color: #898989;
    font-weight: 400;
    font-family: inherit;
}

.changed {
    bottom: -7em;
}

/* product section */

#product{
    padding-top:4%;
    padding-bottom:4%;
}

.popular-product{
    padding-bottom:5%;
}

.popular-product h1{
    font-size: 40px;
    margin-bottom: 10px;
    line-height: 1.5;
    color: #4d4d4d;
    font-weight: 300;
    font-family: unset;
}

.popular-product p{
    font-size: 18px;
    color: #989090;
    font-weight: 400;
    line-height: 1.7;
}
.gtco-products .one-row, .gtco-products .two-row {
  width: 100%;
  display: block;
  margin-bottom: 30px;
}
.gtco-products .two-row {
  height: 239px;
}
.gtco-products .one-row {
  height: 508px;
}
.gtco-products .gtco-item {
  position: relative;
}
.gtco-products .gtco-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.gtco-products .gtco-item .overlay i {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
  z-index: 14;
  color: #fff;
}
.gtco-products .gtco-item .overlay .copy {
  bottom: -20px;
  position: absolute;
  left: 0;
  padding: 20px;
  z-index: 12;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.gtco-products .gtco-item .overlay .copy h3 {
  color: #fff;
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
}
.gtco-products .gtco-item .overlay .copy p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
}
.gtco-products .gtco-item .overlay .copy p:last-child {
  margin-bottom: 0;
}
.gtco-products .gtco-item .overlay:before {
  z-index: 7;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .8;
  background: #3dcdbc;
  background: -moz-linear-gradient(left, #3dcdbc 0%, #33a1bd 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #3dcdbc), color-stop(100%, #33a1bd));
  background: -webkit-linear-gradient(left, #3dcdbc 0%, #33a1bd 100%);
  background: -o-linear-gradient(left, #3dcdbc 0%, #33a1bd 100%);
  background: -ms-linear-gradient(left, #3dcdbc 0%, #33a1bd 100%);
  background: linear-gradient(to right, #3dcdbc 0%, #33a1bd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3dcdbc', endColorstr='#33a1bd', GradientType=1 );
}
.gtco-products .gtco-item:hover .overlay {
  opacity: 1;
  visibility: visible;
}
.gtco-products .gtco-item:hover .overlay .copy {
  bottom: 0;
  opacity: 1;
  visibility: visible;
}
.gtco-products .gtco-item img{
    width:100%;
    height:100%;
}

/* people-header*/
#people{
    background-color:#f6f6f6;
    padding-top:4%;
    padding-bottom:4%;
}

.people-header{
    padding-bottom:8%;
}

.people-header h1{
    font-size: 40px;
    margin-bottom: 10px;
    line-height: 1.5;
    color: #4d4d4d;
    font-weight: 300;
    font-family: unset;
}

.people-header p{
    font-size: 18px;
    color: #989090;
    font-family:Raleway, Arial, sans-serif;
    font-weight: 400;
    font-size: 100;
    line-height: 1.7;
}

.testimonial{
    margin-bottom: 50px;
    float: left;
    width: 100%;
}

.img-user img{
    max-width: 100% !important;
    border-radius: 50%;
}

.testimonial blockquote p{
    font-style: italic;
    font-size: 18px;
    color: #989090;
    font-weight: 400;
    font-family:Raleway, Arial, sans-serif;
}

.testimonial blockquote .author{
    color: #666666;
    display: block;
    margin-top: 20px;
    font-size: 12px;
    font-weight: 700;
}

.testimonial blockquote {
    padding-left: 20px;
    margin: 0;
    display: table-cell;
    padding: 0 0 0 30px;
}

.testimonial .img-user{
    display: table-cell;
    float: left;
    width: 80px;
}

/* contact section */

#contact{
    padding-top:3%;
    padding-bottom:2%;
    background-color:#262626;
}

.contact-header{
    margin-bottom:100px;
}

.contact-header h1{
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    font-family: inherit;
}

.contact-header .btn{
    color: #fff !important;
    border: 2px solid #fff;
    font-size:20px;
    border-radius: 0px;
    transition: 0.3s;
    margin: 10px;
    padding: 10px 20px 10px 20px;
}

.contact-header .btn:hover{
   color: #000 !important;
   background:#fff;
}

.list-menu li a{
    color: #17B794;
    font-size: 14px;
    font-weight: 100;
}

.list-menu li a:hover{
    color:#fff;
    text-decoration: none;
}

.contact-detail a{
    color: #17B794;
    font-size: 14px;
    font-weight: 100;
}

.contact-detail a:hover{
    color:#fff;
    text-decoration: none;
}

.cube h6{
    color: #fff;
    font-size: 24px;
}

.cube p{
    color: #888;
    font-weight: 100;
    font-size: 17px;
    font-family: inherit;
}

.form-inline .btn{
    background: #1acea6 !important;
    color:#fff;
    height: 50px !important;
    margin-left: 5px;
}

.form-group .form-control {
    height: 50px !important;
}


/* footer section */

#footer{
    padding-top:10px;
    padding-bottom:10px;
    background-color:#1a1a1a;
}

.copyright a{
    color:#17B794;
}

.copyright p small{
    color:#777;
}

.copyright a:hover{
    color:#fff;
    text-decoration:none;
}

/* btn scroll */

#myBtn {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 50px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color:#aaa8a8;
  color: white;
  cursor: pointer;
  padding: 15px 22px;
  border-radius: 4px;
}
#myBtn:hover{
    color: #fff;
}

@media only screen and (max-width: 1300px){
    footer p {
        padding-left: 0;
    }
    .navbar-nav{
        margin-left:100px;
    }
}
@media only screen and (max-width: 1100px){
    .navbar-brand {
        padding: 10px 7%;
    }
}
@media only screen and (max-width: 1030px){
    .navbar-brand {
        padding: 10px 5%;
    }
    .navbar-nav{
        margin-left:100px;
    }
}
@media only screen and (max-width: 992px){
    .navbar-nav li {
        padding-right: 0px;
    }
    .navbar-nav li a button {
        padding: 4px 10px;
    }
    .home form .form-control, .home form .input-group-text{
        font-size: 13px;
    }
    .carousel-caption{
        top:10%;
    }
    .carousel-caption .heading{
        font-size:50px;
    }
    .navbar-nav{
        margin-left:100px;
    }

}
@media only screen and (max-width: 850px){
    .navbar-brand {
        padding: 10px 2%;
    }
}
@media only screen and (max-width: 787px){
    .navbar-brand {
        padding: 10px 0;
    }
}
@media only screen and (max-width: 767px){
    .navbar-nav{
        background: #101010;
        text-align: right;
        padding: 0 0 25px 35%;
    }
    .navbar-nav .dropdown{
        color:#fff;
    }
    .img-sponsor img{
        width:71%;
    }
    li.nav-item {
        margin-right: 30px;
    }
    .navbar-nav li a{
        color: #fff;
    }
    .dropdown .dropbtn{
        color:#fff;
    }
    .mb-btn{
        padding: 5% 52% 0 0 !important;
    }
    .navbar-collapse{
        margin-bottom: -15px;
    }
    .home form {
        padding: 0 20%;
    }
    .carousel-caption .heading{
        font-size:30px;
    }
    .carousel-caption p .btn{
        font-size: 10px !important;
        padding: 8px 25px 8px 25px;
    }
    .card-design{
        position:static;
    }
}
@media only screen and (max-width: 576px){
    .navbar-nav {
        background: #101010;
        margin: 0 -15px;
        text-align: center;
        font-weight: 600;
        padding: 0 0 25px 35%;
    }
    .social-icons{
        text-align: center;
    }
    .img-sponsor img{
        width:25%;
    }
    .social-contact{
        float: none !important;
        text-align: center;
    }
    .carousel-caption .heading{
        font-size:25px;
    }
    .cube{
        margin-left:10px;
    }
    .form-inline .btn{
        margin-top: -17px;
    }
    .form-inline{
        margin-left:10px;
    }
}
@media only screen and (max-width: 480px){
    .home form {
        padding: 0px 8%;
    }
    .carousel-caption .heading{
        font-size:20px;
    }
    .cube{
        margin-left:10px;
    }
    .form-inline .btn{
        margin-top: -17px;
    }
    .form-inline{
        margin-left:10px;
    }
}
