/* stylesheet service */

h1, h2, h3, h4, h5, h6, p{
    font-family: Raleway, Arial, sans-serif;
}

#header-section{
    background: url("../images/slide_1.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: auto;
}

.awesome-project{
    padding: 25% 0 20% 0;
    color:#fff;
}

.awesome-project h1{
    font-size: 70px;
}

.awesome-project p{
    font-size:20px;
    font-weight:300;
}

.awesome-project p .fas{
    color:#ff0000;
}

.awesome-project p a{
    color:#27E1CE;
}

/* presure-header */
#presure{
    padding-top:30px;
}

.presure-header h1{
    font-size:26px;
    font-weight:700;
}

.presure-header p{
    color:#888;
    font-size: 17px;
}

.Strategy-details{
    padding: 5% 0 10% 0;
}

.Strategy h1{
    font-weight:700;
    font-size:20px;
}

.Strategy p{
    padding-top: 10px;
    font-size: 17px;
    color: #888;
}

.Strategy .btn-primary {
    background: transparent !important;
    color: #27E1CE !important;
}

.Strategy p .fas{
   padding-left:10px;
   display:none;
}

.Strategy .btn:hover{
    background: #27E1CE !important;
    color:#fff !important;
}

.Strategy .btn.with-arrow:hover {
    padding-right: 20px;
}

.Strategy .btn:hover i{
    display:inline;
    color:#fff ;
}

.Strategy .btn {
    margin-right: 4px !important;
    margin-bottom: 4px !important;
    font-family: "Raleway", Arial, sans-serif !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    border-radius: 30px !important;
    transition: 0.5s !important;
}


.company-header h1 {
    font-size: 30px;
    font-weight: 700;
}

.company-header p{
    color: #888;
    padding-bottom: 40px;
}

.startup{
    padding-top: 50px;
}

.startup h1{
    padding-top:10px;
    font-size:30px;
    padding-bottom:10px;
}

.startup p{
    color:#888;
    font-weight:300;
    font-size:16px;
}


/* company section*/

#company-section{
    padding:7% 0 7% 0;
}

.company-img img{
    max-width:100%;
    height:auto;
}


/* team section */
#team{
    padding:7% 0 7% 0;
    background-color:#00000008;
}

.team-header h1{
    font-size:28px;
    font-weight:700;
}

.team-header p{
    padding-top:10px;
    font-size:18px;
    color:#888;
    font-weight:300;
}

.profile-detail img{
    max-width: 100%;
    height: auto;
}


.profile-detail h6{
    font-size: 18px;
    padding-top: 20px;
    font-weight: 700;
}

.profile-detail p{
    font-size: 18px;
    color: #888;
}

.profile-detail h5{
    font-size: 17px;
    line-height: 1.5;
    font-weight: 300;
    color: #888;
    font-family: inherit;
}

/* social icon */
.social-icons{
    padding-top:10px;
}

.social-icons li{
    list-style: none;
    display: inline-block;
    font-size:20px;
}

.social-icons li a .fab{
    color:#000;

}

.social-icons li a .fab:hover{
    color:#27E1CE !important;
}


/* update section */
#update{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    background-image: url(../images/slide_3.jpg);
}
.overlay{
    background: rgba(0, 0, 0, 0.7);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: absolute;
    z-index: 1;
}

#update .container{
    position: relative;
    z-index: 2;
}

.update_site{
    padding-top:10%;
    padding-bottom:10%;
}
.update_site h1{
    color:#fff;
    font-size: 24px;
    padding-top:30px;
}

@media only screen and (max-width: 480px){
    .awesome-project h1 {
        font-size: 45px;
    }
}



