/* stylesheet service */

h1, h2, h3, h4, h5, h6, p{
    font-family: Raleway, Arial, sans-serif;
}

#header-section{
    background: url("../images/slide_2.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: auto;
}

.awesome-project{
    padding: 25% 0 20% 0;
    color:#fff;
}

.awesome-project h1{
    font-size: 70px;
}

.awesome-project p{
    font-size:20px;
    font-weight:300;
}

.awesome-project p .fas{
    color:#ff0000;
}

.awesome-project p a{
    color:#27E1CE;
}

/* contact section */

#contact{
	padding:7% 0 7% 0;
}

.contact-header h1{
	font-size:30px;
}

.contact-header p{
	margin-top:20px;
	font-size:16px;
	font-weight:400;
	color:#888;
	margin-bottom:30px
}

.contact-info h6{
	font-size: 22px;
	font-weight: 400;
	padding-bottom:20px;
}

.contact-address{
	margin-bottom: 4em;
    padding: 0;
}

.contact-address li {
    list-style: none;
    margin: 0 0 20px 0;
    position: relative;
	padding-left: 40px;
	color:#888;
}

.contact-address li .fas{
	position: absolute;
    top: .3em;
    left: 0;
    font-size: 22px;
    color: #27E1CE;
}

.contact-address li a {
    color: #27E1CE;
}

.form-control {
    box-shadow: none !important;
    background: transparent !important;
    border: 2px solid rgba(0, 0, 0, 0.1) !important;
    height: 54px;
    font-size: 18px !important;
    font-weight: 300 !important;
}


@media only screen and (max-width: 480px){
    .awesome-project h1 {
        font-size: 45px;
    }
}