/* stylesheet service */

h1, h2, h3, h4, h5, h6, p{
    font-family: Raleway, Arial, sans-serif;
}

#header-section{
    background: url("../images/slide_1.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: auto;
}

.awesome-project{
    padding: 25% 0 20% 0;
    color:#fff;
}

.awesome-project h1{
    font-size: 70px;
}

.awesome-project p{
    font-size:20px;
    font-weight:300;
}

.awesome-project p .fas{
    color:#ff0000;
}

.awesome-project p a{
    color:#27E1CE;
}


/* update section */
#update{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 10em 0;
    position: relative;
    background-image: url(../images/slide_3.jpg);
}
.overlay{
    background: rgba(0, 0, 0, 0.7);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: absolute;
    z-index: 1;
}

.update_site{
    padding-top:10%;
    padding-bottom:10%;
}
.update_site h1{
    color:#fff;
    font-size: 24px;
}

@media only screen and (max-width: 480px){
    .awesome-project h1 {
        font-size: 45px;
    }
}