/* stylesheet */
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

body{
    font-family: Raleway, Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p{
    font-family: Raleway, Arial, sans-serif;
}

/*Navition Section */
.navbar-brand{
    padding: 10px;
    color: #000;
    font-family: Raleway, Arial, sans-serif;
    font-size: 30px !important;
    font-weight: 600;
}
.logo{
   position: absolute;
   margin-top: 26px;
   width: 8px;
   height: 8px;
   background: #27E1CE;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   border-radius: 50%;
}
.navbar-brand:hover{
    color:#000;
}
.navbar-nav{
    margin-left:430px;
    font-family:Raleway, Arial, sans-serif;
}
.navbar-nav li a{
    color: #000;
    font-size: 16px;
}
.navbar-nav .nav-item{
    padding-top: 7px;
}
.navbar-nav li a button{
    color: #27E1CE;
    border: 2px solid #27E1CE;
    border-radius: 20px;
    background: transparent;
    padding: 6px 14px;
    cursor: pointer;
}
.navbar-nav li a button:hover{
    background: #27E1CE;
    color: #fff;
}
.navbar-nav li{
    padding-right: 12px;
}
.navbar-toggler-icon{
    width: 2px !important;
    height: 22px !important;
    background-color: #222 !important;
}
.navbar-toggler{
    background-color: #fff;
    transform: rotate(90deg);
    padding: 10px;
    margin-right: 12px;
}

.navbar-expand-md .navbar-nav .nav-link:hover{
    color:#82ca9c !important;
}


/* Header Section */

.carousel-inner img {
    width: 100%;
    height: 100%;
}
#feature{
    padding:5% 0 5% 0;
}
.clear-space{
    padding:10px;
}
.carousel-caption{
    bottom:150px !important;
}
.carousel-caption .heading{
    font-size: 70px;
}
.carousel-indicators li{
    height:12px !important;
    width:12px !important;
    background-color: #888;
    border-radius:50% !important;
}

#feedback .carousel .carousel-indicators{
    top: 340px !important;
}

#feedback .carousel-caption p .btn{
    font-size: 22px !important;
    padding:10px 30px 10px 30px;
}

#feedback .carousel .carousel-indicators .active {
    background:transparent;
    height:12px !important;
    width:12px !important;
    margin-top:10px;
    border:2px solid #27E1CE;
}

.carousel-caption p{
    padding-top: 20px;
}

.awesome-header h1{
    font-weight: 700;
    font-size: 30px;
}

.awesome-header p{
    color:#888;
}

.icon-lap{
    color: aqua;
}

.details h3{
    font-size:20px;
    margin-bottom: 20px;
    font-weight: 700;
    padding:0 20px 0 20px;
}

.details p{
    color: #888;
    padding-left:20px;
    font-weight: 400;
}

/* Projects section */

#project{
    padding:7% 0 7% 0;
    background-color: #00000008;
}

.project-details h1{
    font-weight: 700;
    font-size: 30px;
}

.project-details p{
    color:#888;
}

.box-animation{
    margin-bottom:20px;
}

.box-animation:hover{
    margin-top:-5px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 1px 1px 2px 1px rgba(255, 255, 255, 0.1);
}

.img-background{
    height: 300px;
    overflow: hidden;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center center;
}

.btn-primary {
    background: #27E1CE !important;
    color: #fff !important;
    border: 2px solid #27E1CE !important;
}

.btn {
    margin-right: 4px !important;
    margin-bottom: 4px !important;
    font-family: "Raleway", Arial, sans-serif !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    border-radius: 30px !important;
}

.view-project{
    padding-top:40px;
}

.card-text{
    background-color: #fff;
}

.card-text h3{
    font-size: 20px;
    font-weight: 700;
    margin-top: -20px;
    padding: 20px;
}

.card-text h5{
    font-size: 16px;
    color: #888;
    padding-bottom:50px;
    font-weight: 100;
}
/* feedback section */

#feedback{
    padding:7% 0 7% 0;
}
.feedback-details h1{
    font-size: 28px;
    font-weight: 600;
}
.feedback-details p{
    color: #888;
    font-size: 16px;
}
.feedback-details{
    padding-bottom: 40px;
}
.testimony-slide figure img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.quotes{
    font-size:20px;
    color: #888;
}
.twitter{
    color: #27E1CE;
    font-weight: 300;
}
.author{
    color:#888;
    font-size: 20px;
    margin-top: 22px;
}
/* blog section */

#blog{
    padding:7% 0 7% 0;
    background-color: #00000008;
}

.card-mobile{
    background-color: #fff;
    padding-bottom: 20px;
}

.card-mobile h3{
    font-size: 24px;
    font-weight: 700;
    margin-top: -20px;
    padding: 40px 20px 20px 20px;
}

.card-mobile p{
    color: #888;
    padding: 0px 0 0px 20px;
    font-size: 14px;
    font-weight: 300;
}

.card-mobile h5{
    font-size: 16px;
    color: #888;
    padding: 20px;
    font-family: inherit;
    font-weight: 300;
}

.project-btn .btn-primary {
    background: #27E1CE !important;
    color: #fff !important;
}

.project-btn p .fas{
   padding-left:10px;
   display:none;
}

.project-btn .btn:hover{
    background: #27E1CE !important;
}

.project-btn .btn.with-arrow:hover {
    padding-right: 50px;
    display:visible;
}

.project-btn .btn {
    margin-right: 4px !important;
    margin-bottom: 4px !important;
    font-family: "Raleway", Arial, sans-serif !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    border-radius: 30px !important;
    transition: 0.5s !important;
}
.mobile-section{
    margin-bottom:20px;
}

.mobile-section:hover{
    margin-top:-5px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 1px 14px 25px 1px rgba(255, 255, 255, 0.1);
}
/* price section */

#price{
    padding:7% 0 7% 0;
    background-color: #fcfcfc;
}


.card-price{
    background-color: #fff;
    padding: 20px;
    margin-bottom:20px;
    text-align: center;
    border: 1px solid #f1f1f1;
    box-shadow: 5px 10px #fcfcfc;
}

.card-price p{
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    color: #888f94;
}

.card-price h6{
    font-size: 16px;
    color: #888;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 26px;
    padding-bottom: 20px;
}


.price-tag{
    color: #888;
    padding-bottom: 20px;
}

.dollar{
    font-size: 30px;
    top: -1.3em;
}

.digit{
    font-size:80px;
}

.price-tag small{
    font-size: 13px;
    margin-top: -24px;
    display: block;
    line-height: 30px;
    text-transform: uppercase;
    color: #888f94;
}

.card-price h6{
    font-size: 16px;
    color: #888;
    font-weight: 400;
    padding-bottom:20px;
}

.card-price .btn-select-plan {
    padding: 10px 20px !important;
    background: #5bc0de !important;
    color: #fff !important;
}

.card-price .btn {
    margin-right: 4px !important;
    margin-bottom: 4px !important;
    font-family: "Raleway", Arial, sans-serif !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    border-radius: 30px !important;
    transition: 0.5s !important;
}


.card-price:hover{
    box-shadow: 0px 14px 25px -2px rgba(0, 0, 0, 0.14);
    margin-top: -2px
}


/* bg-img section */

#bg-img{
   padding:7% 0 7% 0;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   background-attachment: fixed;
   position: relative;
}

#bg-img .overlay{
    background: rgba(0, 0, 0, 0.7);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: absolute;
    z-index: 1;
}

#bg-img .container{
    position: relative;
    z-index: 2;
}

.site_update h3{
    color:#ffffff;
    font-weight: 300;
    font-family: inherit;
    padding-bottom: 20px;
}

.site_update h1{
    color:#ffffff;
}

.started-now .btn-primary {
    background: transparent !important;
    color: #fff !important;
}

.started-now p .fas{
   padding-left:10px;
   display:none;
}

.started-now .btn:hover{
    background: #27E1CE !important;
}

.started-now a:hover i{
    display:inline;
}

.started-now .btn.with-arrow:hover {
    padding-right: 20px;
}

.started-now .btn {
    margin-right: 4px !important;
    margin-bottom: 4px !important;
    font-family: "Raleway", Arial, sans-serif !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    border-radius: 30px !important;
    transition: 0.5s !important;
}

/* footer  section */

#footer{
    padding:8% 0 8% 0;
    float: left;
    width: 100%;
    position: relative;
    background: #262626;
}

.header-sec h3{
    color:#ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: bold;
    padding-bottom:20px;
}

.header-sec p{
    color: #888;
    font-size: 16px;
    font-weight: 100;
}

.header-sec .btn-primary {
    background: transparent !important;
    color: #fff !important;
}

.header-sec p .fas{
   padding-left:10px;
   display:none;
}

.header-sec .btn:hover{
    background: #27E1CE !important;
}

.header-sec .btn.with-arrow:hover {
    padding-right: 20px;
}

.header-sec .btn:hover i{
    display:inline;
}

.header-sec .btn {
    margin-right: 4px !important;
    margin-bottom: 4px !important;
    font-family: "Raleway", Arial, sans-serif !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    border-radius: 30px !important;
    transition: 0.5s !important;
}

.service h3{
    color:#ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: bold;
    padding-bottom:20px;
}

.service-sec li a{
    color: #888;
    text-decoration: none;
    font-size: 14px;
}

.service-sec li a:hover{
    color:#ffffff;
}

.service-sec{
    float: left;
    line-height: 35px;
    margin-right: 10px;;
}

.social-icon li{
    line-height: 40px;
    list-style: none;
}

.social-icon li .fab{
    color:#888;
}

.social-icon li .fab:hover{
    color:#fff;
}

.copyright-sec p{
   color:#888;
   font-weight:300;
   font-size:16px;
   padding: 20px;
}

.about-section{
    padding-bottom:20px;
}


.copyright-sec a{
    color:#27E1CE;
}

.copyright-sec a:hover{
    color:#27E1CE;
}

@media only screen and (max-width: 1300px){
    footer p {
        padding-left: 0;
    }
}
@media only screen and (max-width: 1200px){
    .navbar-nav{
        margin-left:250px;
    }
}
@media only screen and (max-width: 1100px){
    .navbar-brand {
        padding: 10px 7%;
    }
    .navbar-nav {
        margin-left: 148px;
    }
}
@media only screen and (max-width: 1030px){
    .navbar-brand {
        padding: 10px 5%;
    }
    .navbar-nav{
        margin-left:150px;
    }
}
@media only screen and (max-width: 992px){
    .navbar-nav li {
        padding-right: 0px;
    }
    .navbar-nav li a button {
        padding: 4px 9px;
    }
    .home form .form-control, .home form .input-group-text{
        font-size: 13px;
    }
    .carousel-caption{
        top:10%;
    }
    .carousel-caption .heading{
        font-size:50px;
    }
}
@media only screen and (max-width: 850px){
    .navbar-brand {
        padding: 10px 2%;
    }
}
@media only screen and (max-width: 787px){
    .navbar-brand {
        padding: 10px 0;
    }
}
@media only screen and (max-width: 767px){
    .navbar-nav{
        background: #101010;
        text-align: center;
        font-weight: 600;
        padding: 0 0 25px 20%;
    }
    li.nav-item {
        width: 50%;
        padding-top: 10px;
    }
    .navbar-nav li a{
        color: #fff;
        font-weight: 300;
    }
    .mb-btn{
        padding: 5% 52% 0 0 !important;
    }
    .navbar-collapse{
        margin-bottom: -15px;
    }
    .home form {
        padding: 0 20%;
    }
    .carousel-caption .heading{
        font-size:30px;
    }
    .carousel-caption p .btn{
        font-size: 10px !important;
        padding: 8px 25px 8px 25px;
    }
}
@media only screen and (max-width: 576px){
    .social-icons{
        text-align: center;
    }
    .social-contact{
        float: none !important;
        text-align: center;
    }
    .carousel-caption .heading{
        font-size:25px;
    }
}
@media only screen and (max-width: 480px){
    .home form {
        padding: 0px 8%;
    }
    .carousel-caption .heading{
        font-size:20px;
    }
}
