/* stylesheet work */

h1, h2, h3, h4, h5, h6, p{
    font-family: Raleway, Arial, sans-serif;
}

#header-section{
    background: url("../images/slide_3.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: auto;
}

.awesome-project{
    padding: 25% 0 20% 0;
    color:#fff;
}

.awesome-project h1{
    font-size: 70px;
}

.awesome-project p {
    font-size: 20px;
}

.awesome-project p .fas{
    color:#ff0000;
}

.awesome-project p a{
    color:#27E1CE;
}

@media only screen and (max-width: 480px){
    .awesome-project h1 {
        font-size: 45px;
    }
}