/* stylesheet */

/* navigation section*/

#nav{
    width:100%;
    position: fixed;
}

/* fixed-position section */

.fixed-position{
    position:relative;
    top:750px;
}

/*header section*/
#header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -500;
    width: 100%;
    overflow: hidden;
}

#header .background-img-header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -400;
    width: 100%;
    height: 100%;
    background-image: url(../img/hero_background.jpg);
    background-repeat: repeat;
}

#header .gradient-header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -300;
    width: 500%;
    height: 500%;
    opacity: 0.9;
    overflow: hidden;
    background-color: #1b0530;
    background-image: url(../img/hero_gradient.png);
    background-size: 100%;
    background-position: 80% 80%;
    -webkit-animation-name: HeroGradient;
    animation-name: HeroGradient;
    -webkit-animation-duration: 55.5s;
    animation-duration: 55.5s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-delay: 0;
    animation-delay: 0;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

#header .pattern-header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -200;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-image: url(../img/hero_pattern.png);
    background-repeat: repeat-x;
    background-position: bottom left;
}

#header .hello-header{
    padding-top: 70px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    width: 100%;
}

#header .header-title{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

#header .hello-section .hello{
    font-size: 78px;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    color: #fff;
}

#header .hello-section .header-par{
    color: rgba(255, 255, 255, 0.9);
    font-weight: 700;
    font-size: 50px;
    line-height: 1;
}

#header .hello-header .hello-paragraph{
    margin-top: 75px;
    color: #fff;
    font-size: 20px;
    font-family: Raleway, sans-serif;
}

#header .global-block{
    margin-top: -180px;
    float: right;
}

#header .global-img{
    position: relative;
    width: 230px;
    height: 230px;
    border-radius: 150px;
    background-image: url(../img/hero_photo.jpg);
    background-size: cover;
}

/* contact section*/
#contact{
    padding-top:50px;
    padding-bottom:50px;
    background-color: #3b3b3b;
    background-image: -webkit-linear-gradient(bottom right, #232526, #414345 2100px);
    background-image: linear-gradient(to top left, #232526, #414345 2100px);
    position: relative;
    overflow: hidden;
}

.cont-header{
    background-image: url(../img/title_triangle.svg);
    background-repeat: no-repeat;
}

.contact-header{
    padding-bottom:20px;
}

.contact-header .section-header{
    color: white;
    font-size: 38px;
    font-weight: 600;
    padding-left: 60px;
    padding-bottom: 5px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    background-size: 40px 40px;
    background-position: 10px top;
    opacity: 1;
}

.contact-header .section-details{
    color: rgba(255, 255, 255, 0.8);
    font-size: 22px;
    font-weight: 200;
    padding-top: 5px;
    padding-left: 100px;
}

.social{
    padding-top:70px;
    padding-bottom:70px;
}

.social-icon .fab, .fa{
    color:#fff;

}

.social-description{
    color:#fff;
    padding-top:20px;
    font-size:20px;
}

.line{
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.contact__form {
    margin-top: 100px;
    text-align: center;
}

.contact__textarea-wrapper {
    display: block;
    width: 100%;
    text-align: left;
    font-size: 0;
}

/* footer section */

#footer{
    background-color: #ebebeb;
    position: relative;
    padding:50px 0 50px 0;
}

.copyright p{
    font-size: 26px;
    float: left;
    font-weight: 600;
    opacity: 0.2;
    margin-top: 24px;
}

.footer-img{
    width: 350px;
    height: 100px;
    background-image: url(../img/footer_image.png);
    background-size: contain;
    background-position: center right;
    background-repeat: no-repeat;
    float: right;
    opacity: 0.2;
}

