@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

body{
    font-family:Roboto, sans-serif
}

html {
  scroll-behavior: smooth;
}

/*Navition Section */

a.nav-link{
  color: #000;
}
.navbar-brand i{
  color: #0BA2DB;
}

nav a:hover{
  color: #000;
}
.navbar-brand{
    color: #444;
    font-weight: 500;
    text-shadow: 1px 1px #fff;
    font-size: 20px;
    text-transform: uppercase;
    margin: 18px 0 0 0;
}
.navbar-nav{
  margin-top: 18px;
}
.navbar-nav li.nav-item{
  padding: 0 10px 0 10px;
}
.navbar-default.scrolled{
  background:#e7e7e7;
  margin-top: -15px;
  border-bottom: rgba(231, 231, 231, 0);
}
.navbar-nav li a:hover, a.nav-link.active{
  color: #0BA2DB;
}
.navbar-toggler-icon{
  width: 2px;
  height: 22px;
  background-color: #fff;
}
.navbar-toggler{
    transform: rotate(90deg);
    background-color: #0ba2db;
    margin-top:10px;
    border-color: #0ba2db;
    padding: 10px;
}

/* banner section */
.banner{
    display: table;
    width: 100%;
    padding: 0;
    background: url(../images/intro-bg.jpg) no-repeat center center;
    background-color: #e5e5e5;
    background-size: cover;
}
.banner .overlay{
  background: rgba(255,255,255,0.2);
}

.banner .center{
  padding-top: 300px;
  padding-bottom: 200px;
  text-align: center;
}
.banner .center h1{
  text-align: center;
  text-transform: uppercase;
  color: #0BA2DB;
  font-weight: 600;
  font-size: 74px;
  margin-bottom: 10px;
}
.banner .center p{
    color: #444;
    font-size: 28px;
    margin-top: 10px;
    font-weight: 300;
    margin-bottom: 40px;
}
.banner .center .get-started{
  text-transform: uppercase;
    padding: 14px 20px;
    background-color: #0BA2DB;
    border-color: #0BA2DB;
    border: none;
    transition: all 0.3s;
    cursor:pointer;
    color: #fff;
}
.banner .center .get-started:hover{
  background-color:#444;
}

/* about section */
.about, .pricing{
  padding-bottom: 8%;
}
.about img{
  display: inline-block;
  border: 1px solid #0BA2DB;
  border-radius: 20px;
  padding: 20px;
}
.about .heading h3, .services h3, .pricing h3, .contact h3{
    font-size: 42px;
    color: #616161;
    font-weight: 300;
    text-align: center;
    padding: 120px 0 4px 0;
}
hr{
    width: 6%;
    border-top: 3px solid #0BA2DB;
    padding-bottom: 5%;
}
.about .about-content{
  padding-right: 15%;
}
.about .about-content h4{
    color: #444;
    font-weight: 100;
    font-size: 22px;
}
.about .about-content p{
  color: #888;
  font-weight: 300;
  margin-top: 15px;
  line-height: 1.5;
  letter-spacing: 0.2px;
}
.about .about-content ul{
    color: #888;
    margin-top: 20px;
    font-weight: 300;
    line-height: 2;
    list-style: none;
    letter-spacing: 0.3px;
}
.about .about-content li:before {
    content: "✓";
    color: #0ba2db;
    padding-right: 10px;
}

/* service section*/
.services, .contact{
  background-color: #F6F6F6;
  padding-bottom: 8%;
}
.services .service-text, .pricing .pricing-text, .contact .contact-text{
    text-align: center;
    margin-top: -40px;
    color: #888;
    padding-bottom: 5%;
    font-size: 18px;
    font-weight: 300;
}
.services .fas{
  font-size: 48px;
    margin: 20px 0;
    color: #0ba2db;
}
.services .service-content{
  text-align: center;
  padding-right: 20px;
}
.services .service-content h4{
  font-size: 22px;
    color: #444;
    font-weight: 300;
    padding-top: 15px;
}
.services .service-content p{
  color: #888;
  font-weight: 300;
}

/* contact section */
.contact form .form-control{
  border-radius: 0;
}
.contact form .btn{
    margin-top: 5%;
    border-radius: 0;
    text-align: center;
    width: 22%;
    padding: 10px;
    background-color: #0BA2DB;
}
.contact .social{
  list-style: none;
  padding-top: 5%;
  text-align: center;
}
.contact form .btn:hover{
  background-color:#444;
  transition: 0.3s;
}

/* social section */
.social li{
  display: inline-block;
  padding: 0 20px 0 20px;
  font-size: 30px;
}
.social li i{
  padding: 15px 10px 10px 0;
  color: #0BA2DB;
  border: 2px solid transparent;
}
.social li i:hover{
  color: #444;
}

/*footer section */
footer{
  background-color: #E6E6E6;
  text-align: center;
}
footer p{
  padding: 2% 0 2% 0;
  color: #888;
  text-align:center;
  font-weight: 300;
  margin-bottom: 0;
}

/* pricing section */
.pricing .card-deck{
  margin: auto;
  width: 75%;
}

.pricing .card-header{
    padding: 10%;
    font-size: 32px;
    font-weight: 300;
    box-shadow: 9px 0px 30px 7px rgba(0, 0, 0, 0.05) inset;
    background-color: #fff;
  }

.pricing .card-body p:first-child{
  border: none;
  padding-top: 30px;
  font-size: 36px;
}
.pricing .card-body .card-subheader{
  font-size: 38px;
  font-weight: 300;
  padding: 15px 0px 15px 0px;
}
.pricing .card-body p{
  border-top: 1px solid #eee;
  padding-top: 5px;
  font-weight: 300;
  margin-bottom: 8px;
}
.pricing .card-body strong{
  color:rgb(102, 102, 102);
}
.pricing .card-body{
  padding: 0;
}
.pricing .card-footer{
  background-color: #fff;
  padding: 30px;
}
.pricing .card-footer button{
    background-color: #0BA2DB;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 55%;
    transition: all 0.3s ease-in-out;
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
}
.pricing .card-footer button:hover{
  background-color: #444;
}
.pricing .highlight-card{
    margin-top: -20px;
}
.pricing .highlight-card .card-footer{
  background-color: #0BA2DB;
  padding-top: 50px;
}
.pricing .highlight-card .card-footer button{
  border: 1px solid #fff;
}
.pricing .highlight-card .card-header{
  background-color: #0BA2DB;
  color: #fff;
  padding-top: 40px;
}
.pricing .card:hover{
  box-shadow: 0px 9px 20px 13px rgb(0,0,0,0.05);
}
@media only screen and (max-width: 1300px){
  .about .about-content ul{
    margin-top: 0;
    font-size: 13px;
  }
  .pricing .card-footer button{
    width: 75%;
  }
  .banner .center p{
    font-size: 24px;
  }
  .banner .center h1{
    font-size: 55px;
  }
  .banner .center{
    left: 23%;
  }
  .contact form .btn{
    width: 30%;
  }
}
@media only screen and (max-width: 1160px){
  .about .about-content h4{
    font-size: 20px;
  }
  .about .about-content p{
    font-size: 14px;
    margin-top: 10px;
  }
  .about .about-content{
    margin-top: 20px;
  }
  .pricing .card-deck{
    width: 85%;
  }
}
@media only screen and (max-width:983px){
    .pricing .card-header{
      font-size:30px;
    }
}
@media only screen and (max-width: 992px){
  .banner .center {
      left: 18%;
  }
  .about .about-content ul{
    line-height: 1.4;
  }
  .about .about-content p{
    font-size: 13px;
  }
  .pricing .card-deck{
    width: 100%;
  }
  hr{
    padding-bottom: 6%;
  }
  .services .service-content h4{
    font-size: 20px;
    padding-bottom: 10px;
  }
  .services .service-content p{
    font-size: 15px;
  }
  .contact form .btn{
    width: 35%;
  }
  .pricing .card-footer button{
    padding:6px;
  }
}
@media only screen and (max-width: 820px){
  .banner .center {
      left: 14%;
  }
  .pricing .card-header{
    font-size: 30px;
  }
  .pricing .card-footer button {
      width: 100%;
  }
}
@media only screen and (max-width: 767px){
  .about .pl-10{
    padding-left: 10%;
  }
  .banner .center {
      left: 20%;
  }
  .banner .center p{
    font-size: 18px;
  }
  .banner .center h1{
    font-size: 50px;
  }
  hr {
      padding-bottom: 10%;
  }
  .pricing .card-header {
      font-size: 21px;
  }
  .contact form .btn {
      width: 50%;
  }
  a.nav-link {
    color: #fff;
    padding: 12px;
    width: 50%;
    margin-left: 5%;
  }
  .navbar-nav li a:last-child{
    color: #444;
    font-weight: 300;
    font-size: 14px;
    cursor: pointer;
  }
  .card{
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 660px){
  .banner .center {
      left: 16%;
  }
}
@media only screen and (max-width: 610px){
  .banner .center {
      left: 11%;
  }
}
@media only screen and (max-width: 540px){
  .banner .center p{
    font-size: 14px;
  }
  .banner .center h1{
    font-size: 50px;
  }
  .banner .center {
      left: 5%;
  }
  .contact form .btn {
      width: 65%;
  }
}
@media only screen and (max-width: 475px){
  hr{
    padding-bottom:15%;
  }
  .social li i{
    padding: 15px 0px 0px 0;
  }
  .social li{
    padding: 0 10px 0 10px;
  }
}