<section id="feature">
    <div class="container">
        <div class="row">
            <div class="offset-md-3 col-md-6 text-center wow awesome-header fadeInUp animated" data-wow-delay="0.1s">
                <h1>Our Awesome Features</h1>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                    there live the blind texts.</p>
            </div>
        </div>
        <div class="clear-space"></div>
        <div class="row">
            <div class="col-md-4 col-sm-12 wow fadeInUp animated" data-wow-delay="0.3s">
                <div class="d-flex">
                    <div class="icon-lap">
                        <i class="fas fa-laptop fa-2x"></i>
                    </div>
                    <div class="details">
                        <h3>Dashboard</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and
                            Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 wow fadeInUp animated" data-wow-delay="0.6s">
                <div class="d-flex">
                    <div class="icon-lap">
                        <i class="fas fa-server fa-2x"></i>
                    </div>
                    <div class="details">
                        <h3>Administration</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and
                            Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 wow fadeInUp animated" data-wow-delay="0.9s">
                <div class="d-flex">
                    <div class="icon-lap">
                        <i class="fas fa-money-check-alt fa-2x"></i>
                    </div>
                    <div class="details">
                        <h3>Make Money</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and
                            Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear-space"></div>
        <div class="row">
            <div class="col-md-4 col-sm-12 wow fadeInUp animated" data-wow-delay="1.2s">
                <div class="d-flex">
                    <div class="icon-lap">
                        <i class="fas fa-tablet fa-2x"></i>
                    </div>
                    <div class="details">
                        <h3>SEO Monitoring</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and
                            Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 wow fadeInUp animated" data-wow-delay="1.6s">
                <div class="d-flex">
                    <div class="icon-lap">
                        <i class="fas fa-chart-line fa-2x"></i>
                    </div>
                    <div class="details">
                        <h3>Online Marketing</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and
                            Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 wow fadeInUp animated" data-wow-delay="1.8s">
                <div class="d-flex">
                    <div class="icon-lap">
                        <i class="fas fa-chart-pie fa-2x"></i>
                    </div>
                    <div class="details">
                        <h3>Business Analytics</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and
                            Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>