<section id="footer">
    <div class="container">
        <div class="row about-section">
            <div class="col-md-3 col-sm-12">
                <div class="header-sec">
                    <h3>ABOUT US</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                        there live the blind texts.</p>
                    <p><a href="#" class="btn btn-primary btn-outline with-arrow btn-sm">Join Us <i
                                class="fas fa-arrow-right"></i></a></p>
                </div>
            </div>
            <div class="offset-md-1 col-md-5 col-sm-12">
                <div class="service">
                    <h3>OUR SERVICES</h3>
                </div>
                <div class="service-sec">
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">Branding & Identity</a></li>
                    <li><a href="#">Free HTML5</a></li>
                    <li><a href="#">HandCrafted Templates</a></li>
                </div>
                <div class="service-sec">
                    <li><a href="#">Free Bootstrap Template</a></li>
                    <li><a href="#">Free HTML5 Template</a></li>
                    <li><a href="#">Free HTML5 &amp; CSS3 Template</a></li>
                    <li><a href="#">HandCrafted Templates</a></li>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="header-sec">
                    <h3>FOLLOW US</h3>
                </div>
                <ul class="social-icon">
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
        <hr style="border-top: 1px solid #767676; border:1">
        <div class="col-md-12 copyright-sec text-center">
            <p>© 2016 Free HTML5 template. All Rights Reserved.<span><br />
                    Designed with <i class="fas fa-heart"></i> by <a href="http://freehtml5.co/"
                        target="_blank">FreeHTML5.co</a> Demo Images by <a href="http://unsplash.com/"
                        target="_blank">Unsplash</a></span>
            </p>
        </div>
    </div>
</section>
</div>