<section id="presure">
    <div class="container">
        <div class="row">
            <div class="presure-header offset-md-3 col-md-6 text-center wow fadeInUp animated" data-wow-delay="0.1s">
                <h1>Our pleasure to serve you</h1>
                <p>Far far away, behind the word mountains,
                    far from the countries Vokalia and Consonantia,
                    there live the blind texts.
                </p>
            </div>
        </div>
        <div class="Strategy-details">
            <div class="row">
                <div class="col-md-4">
                    <div class="Strategy text-center wow fadeInUp animated" data-wow-delay="0.2s">
                        <h1>Strategy</h1>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and
                            Consonantia,
                            there live the blind texts.
                            Separated they live in Bookmarksgrove.</p>
                        <p><a href="#" class="btn btn-primary btn-outline with-arrow">Learn more <i
                                    class="fas fa-arrow-right"></i></a></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="Strategy text-center wow fadeInUp animated" data-wow-delay="0.4s">
                        <h1>Explore</h1>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and
                            Consonantia,
                            there live the blind texts.
                            Separated they live in Bookmarksgrove.
                        </p>
                        <p><a href="#" class="btn btn-primary btn-outline with-arrow">Learn more <i
                                    class="fas fa-arrow-right"></i></a></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="Strategy text-center wow fadeInUp animated" data-wow-delay="0.6s">
                        <h1>Expertise</h1>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and
                            Consonantia,
                            there live the blind texts.
                            Separated they live in Bookmarksgrove.
                        </p>
                        <p><a href="#" class="btn btn-primary btn-outline with-arrow">Learn more <i
                                    class="fas fa-arrow-right"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>