<section id="price">
    <div class="container">
        <div class="row">
            <div class="offset-md-3 col-md-6 text-center wow fadeInUp animated feedback-details" data-wow-delay="0.3s">
                <h1>Pricing</h1>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                    there live the blind texts.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card-price wow fadeInUp animated" data-wow-delay="0.3s">
                    <p>STARTER</p>
                    <div class="price-tag">
                        <sup class="dollar">$</sup>
                        <span class="digit">9</span>
                        <small>/MONTH</small>
                    </div>
                    <h6>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                        there live the blind texts.</h6>
                    <a href="#" class="btn btn-select-plan btn-sm">Select Plan</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card-price wow fadeInUp animated" data-wow-delay="0.6s">
                    <p>STARTER</p>
                    <div class="price-tag">
                        <sup class="dollar">$</sup>
                        <span class="digit">27</span>
                        <small>/MONTH</small>
                    </div>
                    <h6>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                        there live the blind texts.</h6>
                    <a href="#" class="btn btn-select-plan btn-sm">Select Plan</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card-price wow fadeInUp animated" data-wow-delay="0.8s">
                    <p>STARTER</p>
                    <div class="price-tag">
                        <sup class="dollar" style="color:#27E1CE">$</sup>
                        <span class="digit" style="color:#27E1CE">74</span>
                        <small>/MONTH</small>
                    </div>
                    <h6>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                        there live the blind texts.</h6>
                    <a href="#" class="btn btn-select-plan btn-sm" style="background-color:#27E1CE !important">Select
                        Plan</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card-price wow fadeInUp animated" data-wow-delay="1.0s">
                    <p>STARTER</p>
                    <div class="price-tag">
                        <sup class="dollar">$</sup>
                        <span class="digit">140</span>
                        <small>/MONTH</small>
                    </div>
                    <h6>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                        there live the blind texts.</h6>
                    <a href="#" class="btn btn-select-plan btn-sm">Select Plan</a>
                </div>
            </div>
        </div>
    </div>
</section>