/* stylesheet */
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

body{
    font-family:Hind, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/*Navition Section */
.navbar{
    padding-top:0px !important;
}
.navbar-nav {
    padding-right: 150px;
}
.navbar-brand{
    padding-top:0px !important;
    padding-left: 75px;
}
.nav-item a:hover{
    color: #e32929;
}
.clean-btn{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 400;
    margin-left: 0px;
    display: block;
    border: 1px solid #e32929;
    border-color: #e32929;
    padding: 25px;
    font-family: "Roboto Slab", arial, sans-serif;
    background: #e32929;
    color: #fff;
}
.nav-link{
    font-size: 16px;
    text-transform: uppercase;
    color: #ccc;
}

/* project section */
.project{
    padding-top:50px;
    padding-bottom:50px;
    background-color:#fafafa;
}

.project-first{
    background-color:#fff;
    padding:20px;
}

.project-img1{
    background-image: url(../images/work_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height:500px;
    margin-left:50px;
}

.project-img2{
    background-image: url(../images/work_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height:500px;
}

.project-img3{
    background-image: url(../images/work_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height:500px;
    margin-left:50px;
}

.project-img4{
    background-image: url(../images/work_4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height:500px;
}

.project-first{
    padding: 72px;
}

.project-first h1{
    font-size: 32px;
    font-weight: 400;
}

.project-first p{
    font-size: 20px;
    color: #888;
    line-height: 38px;
    margin-bottom: 37px;
}

.fix-img{
    padding-right: 0px !important;
    padding-left: 50px !important;
}

.fix-img1{
    padding-right: 50px !important;
    padding-left: 0px !important;
}

.project-first .btn-primary{
    background-color: #e32929;
    padding: 10px 20px 10px 20px;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    border: 2px solid #e32929;
}

.project-first .btn-primary:hover{
    border:2px solid #444 !important;
    background-color:#fff;
    color:#444;
    transition: .3s;
}

/* leadership section */

.leadership{
    padding-top:150px;
    padding-bottom:60px;
}

.leadership h1{
    font-weight:400;
}

.profile-details{
    padding:10px;
}

.img-block img{
    max-width: 100%;
    height: auto;
    display: block;
}

.img-block{
    margin-bottom: 30px;
}

.leadership-header{
    padding-bottom:30px;
}

.social-icon{
    list-style:none;
}

.social-icon li{
    display:inline-block;
}

.social-icon li i{
    color:#ccc;
}

.social-icon li i:hover{
    color:#000;
}

.img-content h5{
    font-size:18px;
    font-weight:400;
}

.img-content hr{
    background-color:#e32929;
    float:left;
    height:2px;
    width:30px;
}

.img-content p{
    color: #868f90;
    padding-top: 40px;
}


/* Header Section */
.header{
    padding-top:130px;
    padding-bottom:50px;
}

.header h1{
    font-size: 50px;
    line-height: 60px;
    font-family: "arial";
}

.header p{
    color:#888;
}

.header p span{
    color:#e32929;
    cursor:pointer;
}


/* para section */
.para{
    padding-top:50px;
}

.content p{
    color: #868f90;
}

.paragraph h2{
    font-family:arial;
    font-size:24px;
}

.paragraph p{
    color: #868f90;
}

.list-item{
    color:#888;
    padding:0px;
}

.list-item li{
    position: relative;
    display: block;
    margin-bottom: 10px !important;
    line-height: 20px;
}

.list-item li .far {
    padding-right: 6px;
    color:#ccc;
}


/* feature section */
.feature{
    padding-top:50px;
    padding-bottom:50px;
    background-color:#fafafa;
}
.feature h1{
    font-size: 40px;
    font-weight: 400;
}
.feature-item{
    padding-top:30px;
}
.gift-item{
    float:left;
}
.gift-item i{
    font-size:40px;
    color:#e32929;
}

.feature-item h3{
    font-size:18px;
    padding-left:80px;
}

.feature-item p{
    color: #868f90;
    padding-top: 10px;
    display: table;
    padding-left: 40px;
}

/* footer section */

.footer{
    padding-top:80px;
    padding-bottom:60px;
}

.footer-text p{
    color: #888;
    line-height: 5px;
    font-size: 16px;
}

.footer-text p span{
    color: #e32929;
    cursor: pointer;
}

/* Media Query */
@media only screen and (max-width: 1476px){
    .project-img1{
        height: 540px;
    }
}

@media only screen and (max-width: 1314px){
    .project-img1{
        height: 575px;
    }
}

@media only screen and (max-width: 1173px){
    .project-img1{
        height: 613px;
    }
}

@media only screen and (max-width: 1116px){
    .project-img1{
        height: 651px;
    }
}

@media only screen and (max-width: 1039px){
    .project-img1{
        height: 690px;
    }
}

@media only screen and (max-width: 992px){
.project-img1{
    height: 726px;
}
.navbar-nav{
    background-color:#fff;
    padding-top:10px;
}
.nav-item a{
    color: #000;
}
.navbar{
    background-color:#fff;
}
.logo-img1{
    display: none !important;
}
.logo-img2{
    display:inline !important;
}
.card-service{
    padding:20px;
}
.service-info-mdl{
    padding:20px;
}
}

@media only screen and (max-width: 924px){
    .project-img1{
        height: 764px;
    }
}

@media only screen and (max-width: 872px){
    .project-img1{
        height: 840px;
    }
}

@media only screen and (max-width:876px){
    .project-img1{
        height: 800px;
    }
}

@media only screen and (max-width:819px){
    .project-img1{
        height: 800px;
    }
}

@media only screen and (max-width:836px){
    .project-img1{
        height: 840px;
    }
}

@media only screen and (max-width: 857px){
    .project-img1{
        height: 876px;
    }
}

@media only screen and (max-width: 767px){
    .header{
        text-align:left;
    }
    .experience-text{
        text-align:left;
    }
    .work-text{
        text-align:left;
    }
    .contact-text{
        text-align:left;
    }
    .contact-loc{
        padding-top:20px;
    }
}

@media only screen and (max-width: 772px){
.project-img1 {
    height: 940px;
}
}