/* stylesheet */
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

body{
    font-family:roboto, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Social-icon Section */
#social-section {
    position: relative;
    height: 35px;
    width: 100%;
}

.order-icon{
    list-style: none;
}

.order-icon li{
    display: inline-block;
    margin-left: 20px;
}

.order-icon li i{
    color:#e7a331;
    margin-right: 10px;
    font-size: 18px;
}
.order-icon li span{
    color: #666;
    font-size: 15px;
    font-family: roboto, sans-serif;
    padding: 5px;
    display: inline-block;
}
.social-icon{
    list-style:none;
}

.social-icon li{
    display:inline-block;
}

.social-color {
    padding-right: 50px;
}

.social-color a i{
    color :#e7a331;
    padding-left:10px;
    font-size: 15px;
    line-height: 30px;
}

.logo-design img{
    width: 19%;
    height: 125px;
    position: fixed;
    top: 0;
    left: 100px;
    right: 0;
    bottom: 0;
    z-index: 9999;
}

/*Navition Section */
.navbar.scrolled{
  background:#000;
  margin-top:-40px;
}

.custom-nav{
    top: 35px !important;
    left: 0;
    background:#01010180;
    z-index: 10;
}
.nav-item a{
    color:#fff;
}
.nav-item a:hover{
    color:#e7a331;
}
.navbar-nav{
    padding-right: 100px;
}
.navbar-nav li{
    padding-left:15px;
}
.btn-table{
    background-color: transparent;
    color: #e7a331;
    padding: 5px 10px 5px 10px;
    border-radius: 6px;
    border: 1px solid #fff;
}
.navbar .custom-btn{
    color: #fff;
    background: transparent;
    border-color: #fff;
}
.navbar .custom-btn:hover{
    background-color: #e7a331;
    border-color:#fff;
}
.navbar-collapse {
    margin-left: -15px;
    margin-right: -15px;
}
/* Header Section */

.banner{
    background: url(../images/bannerbg.jpg) center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
}

.banner .overlay{
    background: rgba(0, 0, 0, .6);
    width:100%;
}

.banner .banner-text{
    padding: 25% 0 15% 0;
    color: #cfcfcf;
}
.banner .banner-text h1{
    font-size: 100px;
    font-family: 'Pacifico', cursive;
    color: #fff;
    line-height: 70px;
    margin: 0px 0px 60px 0px;
}
.banner .banner-text p{
    color: #fff;
    font-size: 16px;
    margin-bottom: 60px;
    padding: 0 4px;
    font-weight: 600;
}
.banner .learnBtn{
    padding: 10px 60px;
    text-transform: uppercase;
    background: transparent;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #fff;
    margin-right: 15px
}
.banner .learnBtn:hover{
    border: 1px solid #b0a9eb;
}

/* About section*/

.about{
    padding:7% 0 7% 0;
    background: url(../images/abtbg.jpg) no-repeat center top scroll;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    overflow: hidden;
}

.about-text .heading{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
    font-family: 'Pacifico', cursive;
}

.about-text h3{
    color: #000;
    font-size: 40px;
    font-weight: 400;
}

.about-text p{
    color:#565656;
}

.btn-primary{
    background-color: #E7A331 !important;
    color: #ffffff;
    border: 2px solid #E7A331 !important;
    text-transform: uppercase;
    border-radius: 4px;
}

.btn-primary:hover{
    background-color: #d6962c !important;
    border-color: #d6962c !important;
}

/* feature section */

.feature{
     background: url(../images/ftbg.jpg) center center no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    overflow: hidden;
}

.feature .overlay{
    background: rgba(0, 0, 0, .6);
    width:100%;
}

.feature-contact{
    background: url(../images/ft.png) right center no-repeat;
    padding: 40px;
    margin-top:110px;
    margin-bottom:110px;
    overflow: hidden;
}

.features_text{
    background: url(../images/textbg.jpg) center center no-repeat;
    padding: 30px;
    background-size: cover;
}

.features_text h4{
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 20px;
    font-family: 'Pacifico', cursive;
}


/* experience sections*/

.delivery{
    background: url(../images/portfoliobg.jpg) center top no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    overflow: hidden;
}

.delivery-text{
    margin-top:100px;
    margin-bottom:40px;
}

.food-stale{
    padding-top:10px;
    padding-bottom:100px;
}

.delivery-text h2{
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 20px;
    font-family: 'Pacifico', cursive;
}

.delivery-text h3{
    font-size:35px;
    font-weight:400;
}

.food_images_overlay {
    width: 100%;
    background: rgba(0, 0, 0, .5);
    padding: 20px;
    margin: 0 auto;
    left: 14px;
    position: absolute;
    transition: .6s;
}

/* news section */

.news{
    background: url(../images/newsbg.jpg) no-repeat center top scroll;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    overflow: hidden;
    padding-bottom: 120px;
}

.delicious-text{
    padding-top:80px;
    padding-bottom:40px;
}

.delicious-text h2{
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 20px;
    font-family: 'Pacifico', cursive;
    color:#fff;
}

.delicious-text h3{
    font-size:35px;
    color:#fff;
}

.drink{
    background: url(../images/newsone.jpg) left center no-repeat;
    padding: 30px;
    overflow: hidden;
    margin-top: 60px;
}

.drink-text{
    background-color: #fff;
    padding: 10px 10px 10px 0px;
}

.drink-header h4{
    font-size: 30px;
    padding-left:30px;
    padding-top:20px;
    font-family: 'Pacifico', cursive;
}

.drink-text ul{
    list-style:none;
}

.drink-text ul li{
    background: url(../images/pkli.png) no-repeat left center;
    padding: 15px 0px 15px 60px;
    margin-top: 20px;
}

.course{
    background: url(../images/newstwo.jpg) right center no-repeat;
    padding: 30px;
    overflow: hidden;
    margin-top: 60px;
}

.course-text{
    background-color: #fff;
    padding: 10px 10px 10px 0px;
}

.course-header h4{
    font-size: 30px;
    padding-left:30px;
    padding-top:20px;
    font-family: 'Pacifico', cursive;
}

.course-text ul{
    list-style:none;
}

.course-text ul li{
    background: url(../images/pkli.png) no-repeat left center;
    padding: 15px 0px 15px 60px;
    margin-top: 20px;
}

.desserts{
    background: url(../images/newsthree.jpg) left center no-repeat;
    padding: 30px;
    overflow: hidden;
    margin-top: 60px;
}

.desserts-text{
    background-color: #fff;
    padding: 10px 10px 10px 0px;
}

.desserts-header h4{
    font-size: 30px;
    padding-left:30px;
    padding-top:20px;
    font-family: 'Pacifico', cursive;
}

.desserts-text ul{
    list-style:none;
}

.desserts-text ul li{
    background: url(../images/pkli.png) no-repeat left center;
    padding: 15px 0px 15px 60px;
    margin-top: 20px;
}

/* page section */

.page{
    background: url(../images/appsbg.jpg) top center no-repeat scroll;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.page .overlay{
    background: rgba(0, 0, 0, .6);
    width: 100%;
}

.mobile-app{
    margin-top: 120px;
}

.mobile-app h3{
    font-size: 30px;
    padding-top:20px;
    color:#fff;
    font-family: 'Pacifico', cursive;
}

.mobile-app h1{
    color: #fff;
    font-size: 80px;
    text-transform: uppercase;
}

.mobile-app h1 span{
    color: #fff;
    font-size: 30px;
    display: block;
    line-height: 45px;
}

.mobile-app .google-btn{
    padding-top:60px;
}

.mobile-app .google-btn img{
    max-width:90%;
}

.page-mobile-app{
    padding-top:50px;
}


/* contact section */

.contact{
    background: url(../images/footerbg.jpg) center top no-repeat scroll;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    overflow: hidden;
}

.contact .overlay{
    background: rgba(0, 0, 0, .6);
    width: 100%;
}

.contact_details{
    color:#fff;
    padding-top:60px;
}

.contact_details h3{
    font-size: 30px;
    padding-top:20px;
    color:#fff;
    font-family: 'Pacifico', cursive;
}

.contact_details strong{
    margin-top:20px;
}

.contact_details .day{
    font-weight:700;
    margin-top:20px;
}

.contact_details .contact_address{
    margin-top:40px;
}

.contact_details .social_icon{
    margin-top:90px;
    margin-bottom:90px;
}

.form-group .form-control {
    border: 1px solid rgba(0, 0, 0, 0.08);
    font-size: 16px;
    height: 34px;
    max-width: 90%;
    background: #323232;
}

.contact_details .social_icon i{
    padding-left:7px;
    color: #e7a331;
}

/* footer section */
.footer{
    background-color: #000;
    padding-top:20px;
    padding-bottom:10px;
}

.footer-style p{
    color:#fff;
}

.footer-style p i{
    color:red;
    padding: 0px 10px;
}

.footer-style span{
    color:#71bd46;
}


@media only screen and (max-width: 1200px){

}
@media only screen and (max-width: 992px){
    .speakers .item{
        width: 170px;
    }
    .navbar-nav{
        background-color: #0000008a;
        margin-top: 40px;
        padding-bottom: 15px;
    }
    .banner .banner-text {
        padding: 40% 0 0 0;
    }
}
@media only screen and (max-width: 767px){
    .banner h1{
        font-size: 40px;
    }
    .banner .banner-text{
        padding: 55% 0 0 0;
    }
}
