/* stylesheet */

/* Social Section */ 
#social{
    background-color: #000;
    padding: 10px 0;
}
#social .social-icons{
    list-style: none;
    padding: 0;
    margin: 0;
}
#social .social-icons li{
    display: inline-block;
}
#social .social-icons li a{
    color: #fff;
    padding: 8px;
}
#social .social-icons li a:hover{
    color: #82ca9c;
}
#social .social-icons li i{
    font-size: 12px;
}
#social .social-contact a{
    color: #fff;
    padding: 10px;
    font-size: 12px;
}
#social .social-contact a:hover{
    color: #82ca9c;
    text-decoration: none;
    padding: 10px;
    font-size: 12px;
}
#social .social-contact i{
    padding-right: 5px;
    font-size: 12px;
}

/* Navigation Section */
#nav{
    padding:10px;
}
.navbar-brand{
    padding: 10px 8% ;
}
.navbar-nav{
    margin-left: 170px;
}
.navbar-nav li a{
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}
.navbar-nav .nav-item{
    padding-top: 7px;
}
.navbar-nav li a button{
    color: #82ca9c;
    border: 1px solid #82ca9c;
    border-radius: 20px;
    background: transparent;
    padding: 4px 30px;
    text-transform: uppercase;
    cursor: pointer;
}
.navbar-nav li a button:hover{
    background: #82ca9c;
    color: #fff;
}
.navbar-nav li{
    padding-right: 12px;
}
.navbar-toggler-icon{
    width: 2px !important;
    height: 22px !important;
    background-color: #000 !important;
}
.navbar-toggler{
    background-color: #202020;
    transform: rotate(90deg);
    padding: 10px;
    margin-right: 12px;
}

.navbar-expand-md .navbar-nav .nav-link:hover{
    color:#82ca9c !important;
}

/* Home Section */
#home{
    background: url(../images/homebg.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: auto;
}

#home .home-contact{
    color: #fff;
    padding: 10% 0 10% 0;
}

#home .home-contact h1{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 30px;
    color: #fff;
}

#home .home-contact p{
    margin-bottom: 8%;
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
}

#home .overlay-banner{
    background-color: rgba(0, 0, 0, 0.15);
    min-height: 100vh;
}

#home form{
    padding: 0 30%;
}
#home form .banner-form {
    margin-bottom: 20px;
}
#home form .form-control{
    padding: 28px 15px;
    border-radius: 0;
    border: none;
}
#home form .input-group-text{
    border-radius: 0;
    background: #82ca9c;
    cursor: pointer;
    padding: 13px 25px;
    color: #fff;
    border-color: #82ca9c;
    width: 100%;
    padding-left: 30px;
    letter-spacing: 1px;
    font-size: 18px;
}
#home form .input-group-text:hover{
    background-color: rgba(0, 173, 62, 0.75);
    border: none;
}

/* product descriptions */

#product{
    padding-top:8%;
    padding-bottom:8%;
}

.desktop-img img{
    width:100%;
    height:auto;
}

.product-details{
    margin-top:20%;
}

.product-details h1{
    margin-bottom: 40px;
    font-size: 40px;
    color: #222222;
    font-weight:300;
}

.product-details p{
    font-size: 18px;
    font-weight:300;
}

.btn-default {
    border-radius: 0px !important;
    background: #82ca9c !important;
    color: #ededed !important;
    border: 0 !important;
    padding: 12px 15px !important;
    max-width: 160px !important;
    margin-top: 20px !important;
}

.btn-default:hover{
    background-color: #00ad3ebf !important;
}

.btn {
    display: inline-block !important;
    padding: 6px 12px !important;
    margin-bottom: 0 !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 1.728571 !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: middle !important;
    user-select: none !important;
    background-image: none !important;
    border: 1px solid transparent !important;
    border-radius: 3px !important;
    width: 200px !important;
    height: 50px !important;
    padding: 1em !important;
}

.products-list{
    padding-top:10%;
}

.product-des{
    margin-top:20%;
}

.product-des h1{
    margin-bottom: 40px;
    font-size: 40px;
    color: #222222;
    font-weight:300;
}

.product-des p{
    font-size: 18px;
    font-weight:300;
}

.laptop-img img{
    width:100%;
    height:auto;
}

/* Services Section */
#services{
    background: #F9F9F9;
    padding: 8% 0 8% 0;
}
#services .heading h2, .price .heading h2, .business .heading h2, .contact .heading h2{
    font-size: 37.5px;
    line-height: 45px;
    color: #565656;
    font-weight: 300;
}
#services .heading p, .price .heading p,  .business .heading p,  .contact .heading p{
    margin: 10px auto;
    padding-bottom: 20px;
    color: #565656;
    font-size: 16.5px;
    max-width: 55%;
}
#services .subheading{
    margin-top: 90px;
}
#services .service-content{
    padding: 0 8%;
}
#services .service-img img{
    width: 70px;
    float: right;
    margin-top: 50px;
}
#services .service-img2 img{
    width: 65px;
    float: right;
    margin-top: 35px;
}
#services .service-text h2{
    font-size: 24px;
    color: #222222;
    margin: 0;
    font-weight: 100;
}
#services .service-text p{
    font-size: 18px;
    color: #777777;
    line-height: 20px;
    font-weight: 100;
    margin-top: 15px;
}

/* Price Section*/

#price{
    padding-top:7%;
    padding-bottom:7%;
}

#price .affordable h1{
    font-weight: 300;
    font-size: 40px;
}

#price .affordable p{
    font-weight: 300;
    font-size: 17px;
    margin-bottom:50px;
}
.switch{
    display: inline-block;
    position: relative;
    padding: 2px;
    border-radius: 25px;
    background: #82ca9c;
}
.switch input[type="radio"] {
    position: absolute;
    opacity: 0; 
}
.switch label{
    position: relative;
    z-index: 1;
    float: left;
    width: 90px;
    height: 35px;
    line-height: 45px;
    cursor: pointer;
    font-size: 12px;
    color: #fff;
}
#switching{
    position: absolute;
    top: 1px;
    left: 2px;
    height: 44px;
    width: 90px;
    background-color: #0c1f28;
    border-radius: 25px;
    -webkit-transition: -webkit-transform 0.5s;
    transition: 0.5s ease;
}
.card-deck{
    margin-top: 30px;
}
.card-header{
    background: transparent;
    border: 1px solid #82ca9c;
    border-radius: 0;
}
.c-price .currency{
    font-size: 23px;
    font-weight: 700;
}
.c-price .value{
    font-size: 23px;
    font-weight: 300;
}
.c-price .duration{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
}
.card-header h3{
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 30px 0 10px 0;
}
.card-body i{
    padding-right: 5px;
    color: #82ca9c;
}
.card-body .fa-times{
    color: red;
}
.card .card-footer{
    background: #82CA9C;
    border: none;
    padding: 25px;
}
.card-footer button{
    background: transparent;
    color: #fff;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.card .popular{
    background: #82CA9C;
    color: #fff;
}
.card-body p {
     padding-bottom: 10px; 
     color: #565656;
}

#communityData {
  display: none;
}

/* Business Section */

#business{
    background: url(../images/bg.png) no-repeat top center fixed;
    background-size: cover;
    width: 100%;
    padding-top:7%;
    overflow: hidden;
    padding-bottom:7%;
}

.business-section h1{
    font-weight: 300;
    font-size: 40px;
}

.business-section p{
    font-weight: 300;
    font-size: 17px;
    margin-bottom: 50px;
}

#business .community{
    background: #fff;
    padding: 40px 15px;
    border: 1px solid #ececec;
    box-shadow: 2px 2px 5px 0 rgba(55,50,40, .20);
    -webkit-box-shadow: 2px 2px 5px 0 rgba(55,50,40, .20);
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
}
#business .community:hover{
    background: #82ca9c;
    color: #ffffff;
}
#business .community:hover h4, .business .community:hover p, .business .community:hover i, .business .community:hover hr{
    color: #ffffff;
}

#business .community:hover i{
    color: #ffffff;
}

#business .community h4{
    font-size: 17px;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 15px 0;
}
#busines .community p{
    font-size: 13px;
    color: #777777;
    line-height: 22px;
}
#business .community i{
    font-size: 60px;
    color: #82ca9c;
    margin-bottom: 20px;
}
#business .community p{
    font-size:14px;
    font-weight:100;
}
#business .community hr{
    margin-top: 0;
    border: 1px solid #ededed;
    height: 1px;
    width: 80px;
    background: #ededed;
}
#business .business-content{
    margin-top: 40px;
    margin-bottom: 40px;
}


/* Contant Section*/
#contant{
    padding-top:7%;
    padding-bottom:7%;
}

.contact-us{
    padding-bottom:50px;
}

.contact-us h1{
   font-size:40px;
   font-weight:300;
}

.contact-us p{
    font-size:16px;
    font-weight:300;
}

.form-control {
    border: 1px solid #DEDEDE !important;
    height: 45px ;
    border-radius: 0px !important;
    margin-right: -3px;
}

#formid  .form-group input::placeholder{
    font-size:12px !important;
    color:grey;
}

#formid .form-group textarea::placeholder{
    font-size:12px !important;
    color:grey;
}

.contact-des p{
    font-weight:300;
}

.address-us{
    padding-top:40px;
    padding-bottom:20px;
}

.mob{
    padding-bottom:10px;
}

.mob h6{
    font-weight: 300;
    font-size:18px;
}

.address-us h6{
    font-weight: 300;
    font-size:18px;
}

.contact_socail_bookmark .fab{
    color: #222222;
    border: 1px solid #777777;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

.contact_socail_bookmark .fab:hover{
    color: #8a3b6a;
    border: 1px solid #8a3b6a;
}

/* quick Section */

#quick{
    background-color: #efefef;
    padding-top: 7%;
    padding-bottom: 7%;
    border-bottom: 1px solid #cfcdcd;
}

.quicks h6{
    font-size: 16px;
    padding-bottom:10px;
}

.quicks h5{
    font-size: 12px;
    font-weight:100;
    padding-bottom:10px;
}

.email-input {
    position: relative;
    display: table;
    border-collapse: separate;
}

#quick .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 63%;
    margin-bottom: 0;
}

#quick .email-input input[type="email"]::placeholder{
    font-size:12px !important;
}

#quick .email-input input[type="submit"]{
   background-color: #82ca9c;
   width:38%;
   color:#ffffff;
   font-size:16px;
}

#quick .email-input input[type="submit"]:hover {
    background-color: #00ad3ebf;
}

.quicks p{
    font-size: 12px;
    line-height: 1;
}

/* footer Section */

#footer{
   padding-top:20px;
   padding-bottom:20px;
}

.footer-text p{
    font-size: 1.125rem;
}

.footer-text p .fas{
    color: red;
}

.footer-text a{
    text-decoration: none;
    color: #32E10A;
}

.footer-text a:hover{
    text-decoration: none;
    color: #32E10A;
}

/* btn */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    background-color: #939393;
    color: white;
    cursor: pointer;
    padding: 4px 10px;
    border-radius: 50%;
}
#myBtn i{
    color: #fff;
}
#myBtn:hover{
    background-color: #82CA9C;
}
#myBtn i:hover{
    color: #fff;
}

/* media Query */

@media only screen and (max-width: 1300px){
    footer p {
        padding-left: 0;
    }
}
@media only screen and (max-width: 1200px){
    .navbar-nav {
        margin-left: 50px;
    }
    .navbar-nav li a button{
        padding: 4px 6px;
        font-size: 12px;
    }  
    #home form {
        padding: 0 27%;
    }
}
@media only screen and (max-width: 1260px){
    .navbar-nav li a button{
         padding: 4px 10px;
         font-size: 12px;
    }
}
   
@media only screen and (max-width: 1100px){
    .navbar-brand {
        padding: 10px 7%;
    }
}
@media only screen and (max-width: 1035px){
    .navbar-brand {
        padding: 10px 5%;
    }
    .navbar-nav li a button {
        padding: 4px 9px;
        font-size: 12px;
    }
}
@media only screen and (max-width: 990px){
    .navbar-nav li {
        padding-right: 0px;
    }
    .navbar-nav li a button {
        padding: 4px 10px;
    }
    .home form .form-control, .home form .input-group-text{
        font-size: 13px;
    }
    #home form {
        padding: 0 21%;
    }
}
@media only screen and (max-width: 900px){
    .navbar-nav li a button {
        padding: 4px 7px;
    }
    .navbar-nav {
        margin-left: 25px;
    }
    .home-contact {
        padding: 10% 0 0% 0;
    }
}
@media only screen and (max-width: 860px){
    .navbar-brand {
        padding: 10px 2%;
    }
    .footer-text p{
        font-size: 10px;
        margin-top: 15px;
        text-align: right;
    }
}
@media only screen and (max-width:820px){
    .navbar-nav li a button {
        padding: 4px 2px;
    }
    #home form .banner-form {
        margin-bottom: 50px;
    }
}
@media only screen and (max-width: 800px){
    .navbar-nav li a button {
        padding: 3px 4px;
        font-size: 10px;
        margin-top: 5px;
    }
    .navbar-nav {
        margin-left: 10px;
    }
}

@media only screen and (max-width: 787px){
    .navbar-brand {
        padding: 10px 0;
    }
    #home form {
        padding: 0 15%;
    }
}
@media only screen and (max-width: 767px){
    .navbar-nav{
        font-weight: 600;
        padding: 0 0 25px 35%;
    }
    li.nav-item {
        width: 50%;
        padding-top: 10px;
    }
    .mb-btn{
        padding: 5% 52% 0 0 !important;
    }
    .navbar-collapse{
        margin-bottom: -15px;
    }
    .home form {
        padding: 0 20%;
    }
}
@media only screen and (max-width: 576px){
    .social-contact{
        float: none !important;
        text-align: center;
    }
    .business-content div{
        margin-bottom: 10px;
    }
    .community_edit div{
        margin-bottom: 10px;
    }
    .contact-des p {
        margin-top: 25px;
    }
    .home-contact h1 {
        font-size: 20px !important;
    }
    .home-contact p {
        font-size: 14px !important;
        line-height: 15px !important;
    }
    #home form {
        padding: 0 11%;
    }
}
@media only screen and (max-width: 480px){
    .home form {
        padding: 0px 8%;
    }
    .footer-text p{
        font-size: 10px;
        margin-top: 15px;
        text-align: right;
    }
    #home form {
        padding: 0 0%;
    }
}

