/* stylesheet */
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

body{
    font-family:"Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/*Navition Section */
.navbar.scrolled{
  background-color:#000;
  border-bottom:1px solid #000;
  padding:0px;
}

.navbar.scrolled .nav-item a{
    color: #fff;
}

.navbar .scrolled .navbar-brand .logo-header .logo-design img{
    width:50px;
}

.navbar .scrolled .navbar-brand .logo-header .logo-content h1{
    font-size:22px;
}

.custom-nav{
    left: 0;
    top:0;
    background-color:rgba(0, 0, 0, 0.10);
}
.nav-item a{
    color: #fff;
    font-size: 18px;
}
.nav-item a:hover{
    color:#339BEB;
}
.navbar-nav li{
    padding-left:15px;
}
.btn-table{
    background-color: transparent;
    padding: 5px 10px 5px 10px;
}
.navbar .custom-btn{
    color: darkturquoise;
}
.navbar .custom-btn:hover{
    border-color:transparent;
}
.navbar-collapse {
    margin-left: -15px;
    margin-right: -15px;
}
.navbar-brand .a{
    font-size:20px;
    font-size:40px;
    color:#fff;
}
.logo-header{
    display: inline-flex;
    margin-top: 10px;
}
.logo-content{
    padding-left: 10px;
    color: #fff;
    margin-top: -7px;
}
.logo-content h1{
    font-size: 35px;
    font-weight: 400;
}
.logo-content p{
    font-size: 12px;
}
.logo-content span{
    color:#00aff0;
}

/* Header Section */

.banner{
    background: url(../images/banner.jpg) center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    background-position: 50% 0;
    background-repeat: no-repeat;
}

.banner::after{
    background-color: rgba(0, 0, 0, 0.55);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content:"";
    position: absolute;
}

.banner .banner-text{
    padding: 330px 0 250px;
    z-index:1;
}
.banner .banner-text h1{
    font-size: 70px;
    font-family: Hind, sans-serif;
    color: #fff;
    font-weight: 700;
    line-height: 70px;
}
.banner .banner-text h1 span{
    color:#339BEB;
}
.banner .banner-text p{
    color: #fff;
    font-size: 20px;
}
.social-box{
    padding-bottom:140px;
}

.social-box .social-icon{
    list-style: none;
    padding-left:0px;
}

.social-box .social-icon li{
    display: inline-block;
    padding-left:10px;
}

.social-box .social-icon li i{
    width: 40px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    border-radius: 50%;
    padding: 11px;
    transition-duration: .3s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.7,1,.7,1)
}

.social-box .social-icon li i:hover{
    width: 40px;
    height: 40px;
    font-size: 16px;
    background-color: #fff;
    color:#999caa;
    border-radius: 50%;
    padding: 11px;
    transition-duration: .3s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.7,1,.7,1)
}

/* technology section */
.technology{
    padding:20px 0 20px 0;
    background-color: rgba(85, 172, 238, 0.7);
    opacity:0.5;
}


/* happyclient section */

.happyclient{
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #000;
}

.happy-client-text h1{
    color:#fff;
}

/* client section */
.client{
    background:url("../images/bg-image-2.jpg") center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    background-position: 50% 0;
    background-repeat: no-repeat;
    padding-bottom:50px;
}

.client::after{
    background-color: rgba(0, 0, 0, 0.55);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content:"";
    position: absolute;
}

.client-section{
    padding-bottom:30px;
}

.client-header{
    padding-top:40px;
    padding-bottom:20px;
    z-index:1;
}

.client-text{
    z-index:1;
}

.client-text h1{
    color: #fff;
    font-size: 24px;
    padding-left: 65px;
}

.client-text p{
    color: #fff;
    font-size: 17.5px;
    padding-left: 65px;
}

.client-header h1{
    color:#fff;
}

.test-img{
    float:left;
}

.test-content{
    color:#cccccc;
}

.test-content footer{
    padding-left: 65px;
    font-size: 15px;
}

/* about section */
.about{
    padding-top:50px;
    padding-bottom:40px;
}

.about-text{
    padding-bottom:40px;
}

.about-text span{
    color:#339BEB;
}

.about-text p{
    font-size: 21px;
}

.laptop-img img{
    width:100%;
    height:auto;
}

.about-description p{
    color: #333333;
}

.list-data{
    list-style:none;
    padding:0px;
}

.list-data li i{
    color:#00aff0;
}

.list-data li span{
    padding-left:15px;
}

.about-header{
    padding-top:40px;
}

.about-content p{
    color:#333333;
    font-size:15px;
}

.about-header h1{
    color: #333333;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 15px;
}

.about .card-header{
    font-weight: 400;
    padding: 8px 35px 8px 15px;
    display: inline-block;
    width: 100%;
    background-color: #333333;
    color: #ffffff;
    border:1px solid #333333;
    position: relative;
    text-decoration: none;
}

.about .card-header:hover{
    background-color:#339BEB;
    border-color:#339BEB;
}

.about .card-body{
    border: 1px solid #f0f0f0;
    border-top: none;
    background-color: #fafafa;
}

.card-header:first-child{
    border-radius:0px;
}

.about .card{
    border-radius: 0px;
    margin-bottom: 5px;
    border:1px solid #333333;
}

/* service section */

.service{
    background: url(../images/bg-image-1.jpg) 50% 0px no-repeat;
    background-size: cover !important;
    background-position: 50% 0;
    background-repeat: no-repeat;
    position: relative;
    width:100%;
    padding-bottom:50px;
}

.service::after{
    background-color: rgba(85, 172, 238, 0.7);
    position: absolute;
    content: "";
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.worthy-service{
    padding-top:60px;
    padding-bottom:40px;
    z-index: 1;
}

.worthy-service h1{
    color:#fff;
    font-size:40px;
}

.service-content{
    color:#fff;
}

.service-section1{
    z-index:1;
}

.service-section2{
    z-index:1;
}

.service-content1{
    color:#fff;
}

.service-content .icon{
   float:right;
}

.service-content1 .icon1{
   float:left;
}

.icon1 i{
    font-size:24px
}

.icon i{
    font-size:24px;
}

.service-block1 h1{
    font-size: 18px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    padding-left: 40px;
}

.service-block h1{
    font-size: 18px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    padding-right: 40px;
}

.service-block p{
    padding-right: 40px;
}

.service-block1 p{
    padding-left: 40px;
}

/* work section */

.work{
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #55acee;
    color: #fff;
}

/* portfollio */

.portfollio{
    padding-top:50px;
    padding-bottom:30px;
}

.portfollio-text h1{
    font-size:38px;
    color: #333333;
}

.portfollio-text p{
    font-size:20px;
}

.portfollio-btn{
    padding-top:20px;
    padding-bottom:30px;
}

.filter-button{
    background-color: #55acee;
    border-color: #55acee;
    color: #ffffff !important;
    border-radius: 0;
    padding: 8px 20px;
    border: 1px solid #cacaca;
    color: #666666;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
}

.test-img img{
    width:100%;
}

.port-image
{
    width: 100%;
}

.each-item{
    position:relative;
    overflow:hidden;
}

.each-item img{
    height: 170px;
}

.each-item:hover .cap2, .each-item:hover .cap1
{
    left:0px;
}

.project-title{
    border:1px soild #888;
}

.cap1
{
    position:absolute;
    width:100%;
    height:70%;
    background:rgba(255, 255, 255, 0.5);
    top:0px;
    left:-100%;
    padding:10px;
    transition: all .5s;
}

.cap2
{
    position:absolute;
    width:100%;
    height:30%;
    background:rgba(0, 178, 255, 0.5);
    bottom:0px;
    left:100%;
    padding:10px;
    transition: all .5s;
}

/*contact section */
.contact{
    padding-top:50px;
    padding-bottom:20px;
}

.contact-header{
    padding-bottom:30px;
}

.contact-details p{
    font-size:20px;
}

.address-section{
    list-style: none;
    padding:0px;
    line-height:45px;
}

.address-section li {
    font-size:20px;
}

.address-section li span{
    padding-left:20px;
}

.social-icon{
    padding-top: 40px;
    list-style:none;
    padding: 0px;
}

.social-icon li {
    display:inline-block;
}

.social-icon li i{
    color: #000;
    font-size: 35px;
    padding-left: 20px;
}

.facebook i:hover{
    color:#2a6496;
}
.twitter i:hover{
    color:#55acee;
}
.google i:hover{
    color:#dd4b39;
}
.skype i:hover{
    color:#00aff0;
}
.linkedin i:hover{
    color:#0976b4;
}
.youtube i:hover{
    color:#dd4b39;
}
.flickr i:hover{
    color:#ff0084;
}
.pinterest i:hover{
    color:#dd4b39;
}

.btn-default:hover {
    color: #ffffff;
    background-color: #339BEB;
    border-color: #339BEB;
}

.btn-default {
    color: #55acee;
    border: 1px solid #cccccc;
}

.btn-default {
    color: #55acee;
    border: 1px solid #cccccc;
}

.form-control-feedback {
    color: #cccccc;
}

.form-control {
    height: 45px !important;
    border-radius: 0px !important;
}

.btn {
    padding: 8px 15px;
    font-size: 14px;
    line-height: 1.42857143;
    min-width: 160px;
    text-align: center;
    border-radius: 0;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

/* footer section */
.footer{
    padding:40px;
    background-color:#fafafa;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
}

.footer-text p{
    font-size:14px;
}

.footer-text span{
    color:#339BEB;
    cursor: pointer;
}

/* Media Query */

@media only screen and (max-width: 992px){
.navbar-nav{
    background-color:#fff;
    padding-top:10px;
}
.nav-item a{
    color: #000;
}
.navbar{
    background-color:#fff;
}
}