<!--feature sections-->
<section id="feature" class="feature">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Features</h1>
            </div>
        </div>
        <div class="row">
            <div class="offset-md-1 col-md-10">
                <div class="row">
                    <div class="col-md-4">
                        <div class="feature-item">
                            <div class="gift-item  wow bounceIn animated" data-wow-delay="0.1s">
                                <i class="fa fa-gift" aria-hidden="true"></i>
                            </div>
                            <h3>100% Free</h3>
                            <p>100% Free
                                Far far away, behind the word mountains, far from the countries Vokalia and
                                Consonantia, there live the blind texts.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-item">
                            <div class="gift-item  wow bounceIn animated" data-wow-delay="0.3s">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </div>
                            <h3>Retina Ready</h3>
                            <p>100% Free
                                Far far away, behind the word mountains, far from the countries Vokalia and
                                Consonantia, there live the blind texts.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-item">
                            <div class="gift-item  wow bounceIn animated" data-wow-delay="0.5s">
                                <i class="fa fa-crop" aria-hidden="true"></i>
                            </div>
                            <h3>Fully Responsive</h3>
                            <p>100% Free
                                Far far away, behind the word mountains, far from the countries Vokalia and
                                Consonantia, there live the blind texts.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset-md-1 col-md-10">
                <div class="row">
                    <div class="col-md-4">
                        <div class="feature-item">
                            <div class="gift-item  wow bounceIn animated" data-wow-delay="0.7s">
                                <i class="fa fa-gift" aria-hidden="true"></i>
                            </div>
                            <h3>Lightweight</h3>
                            <p>100% Free
                                Far far away, behind the word mountains, far from the countries Vokalia and
                                Consonantia, there live the blind texts.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-item">
                            <div class="gift-item  wow bounceIn animated" data-wow-delay="0.9s">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                            </div>
                            <h3>Made with Love</h3>
                            <p>100% Free
                                Far far away, behind the word mountains, far from the countries Vokalia and
                                Consonantia, there live the blind texts.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-item">
                            <div class="gift-item  wow bounceIn animated" data-wow-delay="1.1s">
                                <i class="fa fa-umbrella" aria-hidden="true"></i>
                            </div>
                            <h3>Eco Friendly</h3>
                            <p>100% Free
                                Far far away, behind the word mountains, far from the countries Vokalia and
                                Consonantia, there live the blind texts.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>