<section id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 footer-text text-center">
                <p>© Clean Free HTML5. All Rights Reserved.</p>
                <p>Created by <span>FREEHTML5.co</span> Images: <span>Pexels</span></p>
            </div>
        </div>
    </div>
</section>