<!--navigation section-->
<div id="nav">
    <nav class="navbar navbar-expand-lg custom-nav">
        <div class="container">
            <a class="navbar-brand" href="#"><button class="clean-btn">CLEAN</button>
            </a>
            <button class="navbar-toggler custom-btn" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="home.html">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="rightside.html">RIGHT SIDEBAR</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="leftside.html">LEFT SIDEBAR</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>